Web Research Social Links Finder/template-direct-urls.json
{
  "name": "Social Links Finder - Direct URLs (Gemini)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [-1200, 0],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"urls\": [\n    \"https://example-doll-company.com\",\n    \"https://another-manufacturer.com/about\",\n    \"https://doll-artist-shop.com\"\n  ],\n  \"geminiApiKey\": \"YOUR_GEMINI_API_KEY_HERE\"\n}\n",
        "options": {}
      },
      "id": "url-list",
      "name": "URL List",
      "type": "n8n-nodes-base.set",
      "position": [-980, 0],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "id": "split-urls",
      "name": "Split URLs",
      "type": "n8n-nodes-base.splitOut",
      "position": [-760, 0],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.urls }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-540, 0],
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || '';\nconst url = $input.first().json.urls || '';\nconst apiKey = $('URL List').first().json.geminiApiKey;\n\nconst socialPatterns = {\n  instagram: /https?:\\/\\/(www\\.)?instagram\\.com\\/[\\w._-]+/gi,\n  facebook: /https?:\\/\\/(www\\.)?facebook\\.com\\/[\\w._-]+/gi,\n  twitter: /https?:\\/\\/(www\\.)?(twitter|x)\\.com\\/[\\w._-]+/gi,\n  youtube: /https?:\\/\\/(www\\.)?youtube\\.com\\/(channel|c|user|@)[\\w._-]*/gi,\n  tiktok: /https?:\\/\\/(www\\.)?tiktok\\.com\\/@[\\w._-]+/gi,\n  pinterest: /https?:\\/\\/(www\\.)?pinterest\\.com\\/[\\w._-]+/gi,\n  linkedin: /https?:\\/\\/(www\\.)?linkedin\\.com\\/(company|in)\\/[\\w._-]+/gi,\n  etsy: /https?:\\/\\/(www\\.)?etsy\\.com\\/shop\\/[\\w._-]+/gi\n};\n\nconst foundLinks = {};\nfor (const [platform, pattern] of Object.entries(socialPatterns)) {\n  const matches = html.match(pattern) || [];\n  foundLinks[platform] = [...new Set(matches.map(m => m.toLowerCase()))];\n}\n\nconst emailPattern = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/gi;\nconst emails = [...new Set((html.match(emailPattern) || []).filter(e => \n  !e.includes('example') && !e.includes('email@') && !e.includes('sentry')\n))];\n\nlet cleanText = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 5000);\n\nreturn {\n  sourceUrl: url,\n  foundLinks,\n  emails,\n  pageText: cleanText,\n  geminiApiKey: apiKey\n};"
      },
      "id": "extract-links",
      "name": "Extract Links",
      "type": "n8n-nodes-base.code",
      "position": [-320, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $json.geminiApiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Extract social media and contact info from this page. URL: {{ $json.sourceUrl }}\\n\\nLinks already found by regex:\\n{{ JSON.stringify($json.foundLinks) }}\\n\\nEmails found:\\n{{ JSON.stringify($json.emails) }}\\n\\nPage text:\\n{{ $json.pageText.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, ' ') }}\\n\\nRespond with ONLY valid JSON (no markdown):\\n{\\\"company\\\":\\\"name\\\",\\\"social\\\":{\\\"instagram\\\":[],\\\"facebook\\\":[],\\\"twitter\\\":[],\\\"youtube\\\":[],\\\"tiktok\\\":[],\\\"linkedin\\\":[],\\\"other\\\":[]},\\\"emails\\\":[],\\\"description\\\":\\\"brief description\\\"}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"maxOutputTokens\": 1024\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "gemini-api",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-100, 0],
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst sourceUrl = $('Extract Links').first().json.sourceUrl;\nconst foundLinks = $('Extract Links').first().json.foundLinks;\nconst foundEmails = $('Extract Links').first().json.emails;\n\ntry {\n  // Extract text from Gemini response\n  const geminiText = input.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  \n  // Try to parse JSON from response\n  let parsed = {};\n  const jsonMatch = geminiText.match(/```json\\n?([\\s\\S]*?)\\n?```/) || \n                    geminiText.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    const jsonStr = jsonMatch[1] || jsonMatch[0];\n    parsed = JSON.parse(jsonStr);\n  }\n  \n  // Merge regex-found links with AI-found links\n  const mergedSocial = {};\n  const platforms = ['instagram', 'facebook', 'twitter', 'youtube', 'tiktok', 'linkedin', 'pinterest', 'etsy', 'other'];\n  \n  for (const platform of platforms) {\n    const regexLinks = foundLinks[platform] || [];\n    const aiLinks = parsed.social?.[platform] || [];\n    mergedSocial[platform] = [...new Set([...regexLinks, ...aiLinks])];\n  }\n  \n  // Merge emails\n  const mergedEmails = [...new Set([...foundEmails, ...(parsed.emails || [])])];\n  \n  return {\n    url: sourceUrl,\n    company: parsed.company || 'Unknown',\n    description: parsed.description || '',\n    social: mergedSocial,\n    emails: mergedEmails,\n    success: true\n  };\n} catch (e) {\n  // Fallback to regex-only results\n  return {\n    url: sourceUrl,\n    company: 'Unknown',\n    description: '',\n    social: foundLinks,\n    emails: foundEmails,\n    success: false,\n    error: e.message\n  };\n}"
      },
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "position": [120, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "collect-all",
      "name": "Collect All",
      "type": "n8n-nodes-base.itemLists",
      "position": [340, 0],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data || [];\n\n// Deduplicate all social links\nconst allSocial = {\n  instagram: new Set(),\n  facebook: new Set(),\n  twitter: new Set(),\n  youtube: new Set(),\n  tiktok: new Set(),\n  linkedin: new Set(),\n  pinterest: new Set(),\n  etsy: new Set(),\n  other: new Set()\n};\nconst allEmails = new Set();\nconst companies = [];\n\nfor (const item of data) {\n  companies.push({\n    name: item.company || 'Unknown',\n    url: item.url,\n    description: item.description || '',\n    success: item.success\n  });\n  \n  for (const [platform, links] of Object.entries(item.social || {})) {\n    if (allSocial[platform] && Array.isArray(links)) {\n      links.forEach(l => {\n        if (l && typeof l === 'string') allSocial[platform].add(l);\n      });\n    }\n  }\n  \n  if (Array.isArray(item.emails)) {\n    item.emails.forEach(e => {\n      if (e && typeof e === 'string') allEmails.add(e);\n    });\n  }\n}\n\n// Convert Sets to Arrays\nconst socialLinks = {};\nfor (const [platform, linkSet] of Object.entries(allSocial)) {\n  socialLinks[platform] = [...linkSet];\n}\n\nreturn {\n  summary: {\n    totalProcessed: data.length,\n    successfulAI: data.filter(d => d.success).length,\n    failedAI: data.filter(d => !d.success).length\n  },\n  companies,\n  socialLinks,\n  allEmails: [...allEmails],\n  rawData: data\n};"
      },
      "id": "create-summary",
      "name": "Create Summary",
      "type": "n8n-nodes-base.code",
      "position": [560, 0],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "URL List", "type": "main", "index": 0}]]
    },
    "URL List": {
      "main": [[{"node": "Split URLs", "type": "main", "index": 0}]]
    },
    "Split URLs": {
      "main": [[{"node": "Fetch Page", "type": "main", "index": 0}]]
    },
    "Fetch Page": {
      "main": [[{"node": "Extract Links", "type": "main", "index": 0}]]
    },
    "Extract Links": {
      "main": [[{"node": "Gemini API", "type": "main", "index": 0}]]
    },
    "Gemini API": {
      "main": [[{"node": "Parse Result", "type": "main", "index": 0}]]
    },
    "Parse Result": {
      "main": [[{"node": "Collect All", "type": "main", "index": 0}]]
    },
    "Collect All": {
      "main": [[{"node": "Create Summary", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
