Error Workflows/Slack Notifier/template.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "5858489d-f876-4008-8a45-0d18460c39e4",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-slack-channel",
              "name": "slackChannel",
              "value": "youtube",
              "type": "string"
            },
            {
              "id": "config-mention-on-error",
              "name": "mentionOnError",
              "value": "",
              "type": "string"
            },
            {
              "id": "config-n8n-base-url",
              "name": "n8nBaseUrl",
              "value": "https://your-n8n-instance.com",
              "type": "string"
            },
            {
              "id": "config-environment",
              "name": "environment",
              "value": "production",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "47c75866-387f-48c1-94ff-498d9460eb74",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        288
      ],
      "notes": "Configure:\n- slackChannel: Channel to post errors (e.g., #n8n-alerts)\n- mentionOnError: User/group to mention (e.g., @channel, <@U12345>)\n- n8nBaseUrl: Your n8n instance URL for execution links\n- environment: Label for the environment (production, staging, etc.)"
    },
    {
      "parameters": {
        "jsCode": "// Extract error information from the error trigger\nconst errorData = $input.first().json;\nconst config = $('Configuration').item.json;\n\n// Debug: Log the full error structure (comment out in production)\n// console.log('Error Trigger Data:', JSON.stringify(errorData, null, 2));\n\n// n8n Error Trigger provides data in this structure:\n// - workflow: { id, name, active }\n// - execution: { id, mode, retryOf, startedAt, stoppedAt, status, error }\n\nconst workflow = errorData.workflow || {};\nconst execution = errorData.execution || {};\n\n// The error object is directly in execution.error\nconst error = execution.error || {};\n\n// Extract workflow details\nconst workflowName = workflow.name || 'Unknown Workflow';\nconst workflowId = workflow.id || 'unknown';\n\n// Extract execution details\nconst executionId = execution.id || 'unknown';\nconst executionMode = execution.mode || 'regular';\nconst executionStatus = execution.status || 'error';\n\n// Extract error details - try multiple possible locations\nlet errorMessage = 'Unknown error';\nlet errorNode = 'Unknown node';\nlet errorNodeType = '';\nlet errorStack = '';\n\n// Error message can be in different places\nif (error.message) {\n  errorMessage = error.message;\n} else if (error.description) {\n  errorMessage = error.description;\n} else if (typeof error === 'string') {\n  errorMessage = error;\n}\n\n// Node information\nif (error.node) {\n  errorNode = error.node.name || error.node || 'Unknown node';\n  errorNodeType = error.node.type || '';\n} else if (error.cause?.node) {\n  errorNode = error.cause.node.name || 'Unknown node';\n  errorNodeType = error.cause.node.type || '';\n}\n\n// Stack trace\nif (error.stack) {\n  errorStack = error.stack;\n} else if (error.cause?.stack) {\n  errorStack = error.cause.stack;\n}\n\n// Timestamp - use execution stopped time or current time\nconst errorTimestamp = execution.stoppedAt || error.timestamp || new Date().toISOString();\n\n// Build execution URL\nconst executionUrl = `${config.n8nBaseUrl}/workflow/${workflowId}/executions/${executionId}`;\n\n// Format timestamp\nconst formattedTime = new Date(errorTimestamp).toLocaleString('en-US', {\n  timeZone: 'UTC',\n  year: 'numeric',\n  month: 'short',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  timeZoneName: 'short'\n});\n\n// Truncate error message if too long (Slack has limits)\nconst truncatedMessage = errorMessage.length > 500\n  ? errorMessage.substring(0, 500) + '...'\n  : errorMessage;\n\n// Truncate stack trace\nconst truncatedStack = errorStack.length > 300\n  ? errorStack.substring(0, 300) + '...'\n  : errorStack;\n\n// Build mention text\nconst mentionText = config.mentionOnError ? `${config.mentionOnError} ` : '';\n\n// Detect if this is a manual test (no real error data)\nconst isManualTest = workflowName === 'Unknown Workflow';\n\n// Build node info line\nconst nodeInfo = errorNodeType\n  ? `${errorNode} (${errorNodeType})`\n  : errorNode;\n\n// Build stack trace section\nconst stackSection = truncatedStack\n  ? `\\n*Stack Trace:*\\n\\`\\`\\`${truncatedStack}\\`\\`\\`\\n`\n  : '';\n\n// Build footer\nconst footer = isManualTest\n  ? '⚠️ _Note: Manual test detected. This workflow only shows real data when triggered by an actual workflow failure._'\n  : 'Automated with this n8n workflow';\n\n// Build complete Slack message\nconst slackMessage = `🚨 *Workflow Error: ${workflowName}*\n\n*Environment:* ${config.environment}\n*Execution Mode:* ${executionMode}\n*Failed Node:* ${nodeInfo}\n*Timestamp:* ${formattedTime}\n\n*Error Message:*\n\\`\\`\\`${truncatedMessage}\\`\\`\\`\n${stackSection}\n<${executionUrl}|View Execution>\n\n${mentionText}${footer}`;\n\nreturn {\n  json: {\n    workflowName,\n    workflowId,\n    executionId,\n    executionMode,\n    executionStatus,\n    executionUrl,\n    errorMessage: truncatedMessage,\n    errorNode,\n    errorNodeType,\n    errorTimestamp: formattedTime,\n    errorStack: truncatedStack,\n    environment: config.environment,\n    slackChannel: config.slackChannel,\n    mentionText,\n    slackMessage,\n    _debug: {\n      hasWorkflow: !!workflow.name,\n      hasExecution: !!execution.id,\n      hasError: !!error.message,\n      errorKeys: Object.keys(error)\n    }\n  }\n};"
      },
      "id": "ad7fb216-932c-4586-bca8-11dcdbc404cb",
      "name": "Extract Error Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        288
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABWP1UGDP",
          "mode": "id"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "a762dc9a-9680-4959-b024-74d6c6f26e12",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        656,
        288
      ],
      "webhookId": "b1e3f6de-cc2d-4120-aeeb-8a0dfafe0d52",
      "credentials": {
        "slackApi": {
          "id": "WMCsgpXbztYUJzAv",
          "name": "EHQ Bot Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error Workflow - Slack Notifier\n\nThis workflow catches errors from other workflows and sends formatted alerts to Slack.\n\n### Setup\n\n1. **Configure Slack credentials** in the \"Send Slack Alert\" node\n2. **Update Configuration node**:\n   - `slackChannel`: Channel name (e.g., `#n8n-alerts`)\n   - `mentionOnError`: Optional mention (e.g., `@channel`, `<@U12345>`)\n   - `n8nBaseUrl`: Your n8n instance URL\n   - `environment`: Label for alerts (production, staging)\n\n3. **Link to other workflows**:\n   - Open the workflow you want to monitor\n   - Go to Settings → Error Workflow\n   - Select this workflow\n\n### Alert Contents\n\n- Workflow name that failed\n- Node that caused the error\n- Error message (truncated if long)\n- Timestamp (UTC)\n- Direct link to failed execution\n- Environment label\n\n### Note\n\nThis workflow will only trigger when another workflow fails AND that workflow has this set as its Error Workflow.",
        "height": 540,
        "width": 700
      },
      "id": "37319e18-9761-4085-9014-1edb94184a9a",
      "name": "Sticky Note - Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Error Trigger\nCatches failures from linked workflows",
        "height": 180,
        "width": 200,
        "color": 2
      },
      "id": "e1b26cc8-5d98-490a-8445-a2062b621831",
      "name": "Sticky Note - Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        176
      ]
    },
    {
      "parameters": {
        "content": "## Configuration\nSlack channel & settings",
        "height": 180,
        "width": 200,
        "color": 5
      },
      "id": "5cece6d2-161a-45ed-8923-ed4ae6e1a98d",
      "name": "Sticky Note - Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        176
      ]
    },
    {
      "parameters": {
        "content": "## Extract Details\nFormat error info",
        "height": 180,
        "width": 200,
        "color": 7
      },
      "id": "1acdf169-f34f-4f26-947a-3b059614d5a4",
      "name": "Sticky Note - Extract",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        176
      ]
    },
    {
      "parameters": {
        "content": "## Send Alert\nPost to Slack",
        "height": 180,
        "width": 200,
        "color": 3
      },
      "id": "7a06eada-eaa1-4dc1-86c8-9f5d9c0a30f8",
      "name": "Sticky Note - Slack",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        176
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Extract Error Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Details": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28bbfdfc971df976a30763a80880783b0da6d49b0f9e1c35d17278160b42ad72"
  }
}