Error Workflows/Slack Notifier/template-v3-robust.json
{
  "name": "Error Workflow - Slack Notifier (Robust)",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger-id",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-slack-channel",
              "name": "slackChannel",
              "value": "#n8n-alerts",
              "type": "string"
            },
            {
              "id": "config-n8n-url",
              "name": "n8nBaseUrl",
              "value": "https://your-n8n-instance.com",
              "type": "string"
            },
            {
              "id": "config-env",
              "name": "environment",
              "value": "production",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-node-id",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-name",
              "name": "workflowName",
              "value": "={{ $('Error Trigger').item.json.workflow?.name || 'Unknown Workflow' }}",
              "type": "string"
            },
            {
              "id": "workflow-id",
              "name": "workflowId",
              "value": "={{ $('Error Trigger').item.json.workflow?.id || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "execution-id",
              "name": "executionId",
              "value": "={{ $('Error Trigger').item.json.execution?.id || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "failed-node",
              "name": "failedNode",
              "value": "={{ $('Error Trigger').item.json.execution?.lastNodeExecuted || 'Unknown node' }}",
              "type": "string"
            },
            {
              "id": "error-msg",
              "name": "errorMessage",
              "value": "={{ $('Error Trigger').item.json.execution?.error?.message || $('Error Trigger').item.json.error?.message || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "exec-mode",
              "name": "executionMode",
              "value": "={{ $('Error Trigger').item.json.execution?.mode || 'regular' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.format('MMM d, yyyy h:mm a') }} UTC",
              "type": "string"
            },
            {
              "id": "exec-url",
              "name": "executionUrl",
              "value": "={{ $('Configuration').item.json.n8nBaseUrl }}/workflow/{{ $json.workflowId }}/executions/{{ $json.executionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-message-id",
      "name": "Build Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABWP1UGDP",
          "mode": "id"
        },
        "messageType": "text",
        "text": "=🚨 *Workflow Error Alert*\n\n*Workflow:* {{ $json.workflowName }}\n*Environment:* {{ $('Configuration').item.json.environment }}\n*Failed Node:* {{ $json.failedNode }}\n*Execution Mode:* {{ $json.executionMode }}\n\n*Error Message:*\n```\n{{ $json.errorMessage }}\n```\n\n<{{ $json.executionUrl }}|View Failed Execution>\n\n_Execution ID: {{ $json.executionId }} | {{ $json.timestamp }}_",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-node-id",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        660,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error Workflow - Slack Notifier (Robust)\n\n**Most reliable version** - Extracts error data step-by-step for debugging.\n\n### Setup\n\n1. **Configure Slack credentials** in \"Send Slack Alert\" node\n2. **Update Configuration node**:\n   - `slackChannel`: Channel (e.g., `#n8n-alerts`)\n   - `n8nBaseUrl`: Your n8n instance URL\n   - `environment`: production/staging\n\n3. **Link to workflows**:\n   - Open workflow to monitor\n   - Settings → Error Workflow\n   - Select this workflow\n\n### How It Works\n\n1. Error Trigger catches the error\n2. Configuration node sets your preferences\n3. **Build Message Data** extracts all fields individually\n   - This lets you see exactly what data is available\n   - Uses optional chaining (`?.`) to handle missing fields\n4. Send Slack Alert uses the extracted data\n\n### Debugging\n\nIf message is still empty:\n1. Check the output of \"Build Message Data\" node\n2. See what values it extracted\n3. Verify Error Trigger is receiving data\n4. Check execution logs for the failing workflow\n\n### Advantages\n\n- Extracts each field separately for visibility\n- Uses optional chaining for safety\n- Multiple fallbacks for error messages\n- Easy to debug if something is empty",
        "height": 640,
        "width": 700
      },
      "id": "sticky-instructions",
      "name": "Sticky Note - Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        0
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Build Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message Data": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
