YouTube Channel Settings Audit/template-v2-enhanced.json
{
  "meta": {
    "instanceId": "youtube-channel-audit-v2-enhanced"
  },
  "nodes": [
    {
      "id": "manual-trigger-audit-v2",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [-1000, 0],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "get-channel-v2",
      "name": "Get Channel Details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-800, 0],
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "method": "GET",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,brandingSettings,contentDetails,statistics,status,topicDetails,localizations"
            },
            {
              "name": "mine",
              "value": "true"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api"
      },
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "YouTube Account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "get-videos-v2",
      "name": "Get Recent Videos",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-600, 0],
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "method": "GET",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "forMine",
              "value": "true"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "maxResults",
              "value": "15"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api"
      },
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "YouTube Account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "get-video-details-v2",
      "name": "Get Video Details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-400, 0],
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "method": "GET",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,contentDetails,statistics,status"
            },
            {
              "name": "id",
              "value": "={{ $('Get Recent Videos').item.json.items.map(v => v.id.videoId).join(',') }}"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api"
      },
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "YouTube Account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "enhanced-analysis-v2",
      "name": "Enhanced Algorithm Analysis",
      "type": "n8n-nodes-base.code",
      "position": [-200, 0],
      "parameters": {
        "jsCode": "const channel = $('Get Channel Details').item.json.items[0];\nconst videos = $('Get Video Details').item.json.items || [];\n\nconst audit = {\n  meta: {\n    channelId: channel.id,\n    channelName: channel.snippet.title,\n    channelUrl: `https://youtube.com/channel/${channel.id}`,\n    studioUrl: `https://studio.youtube.com/channel/${channel.id}`,\n    auditDate: new Date().toISOString(),\n    videosAnalyzed: videos.length\n  },\n  \n  // Algorithm Optimization Score\n  algorithmOptimization: {\n    // Consistency Score\n    uploadConsistency: {\n      lastUploadDaysAgo: videos.length > 0 ? Math.floor((new Date() - new Date(videos[0].snippet.publishedAt)) / (1000 * 60 * 60 * 24)) : 999,\n      uploadFrequency: videos.length >= 10 ? 'Good (10+ recent videos)' : videos.length >= 5 ? 'Moderate (5-9 videos)' : 'Low (< 5 videos)',\n      status: function() {\n        if (this.lastUploadDaysAgo <= 7) return '✅ Active (uploaded within 7 days)';\n        if (this.lastUploadDaysAgo <= 30) return '⚠️ Recent (uploaded within 30 days)';\n        return '❌ Inactive (no upload in 30+ days)';\n      }(),\n      algorithmImpact: function() {\n        if (this.lastUploadDaysAgo <= 7) return 'High - Algorithm favors active channels';\n        if (this.lastUploadDaysAgo <= 30) return 'Medium - Upload more frequently';\n        return 'Critical - Inactive channels get deprioritized';\n      }(),\n      recommendation: function() {\n        if (this.lastUploadDaysAgo <= 7) return 'Keep current upload schedule';\n        if (this.lastUploadDaysAgo <= 30) return 'Try to upload at least weekly';\n        return 'Upload immediately - algorithm penalizes long gaps';\n      }()\n    },\n    \n    // Engagement Metrics\n    engagement: {\n      avgLikesPerView: videos.length > 0 ? (videos.reduce((sum, v) => sum + (parseInt(v.statistics?.likeCount || 0) / parseInt(v.statistics?.viewCount || 1)), 0) / videos.length * 100).toFixed(2) : 0,\n      avgCommentsPerView: videos.length > 0 ? (videos.reduce((sum, v) => sum + (parseInt(v.statistics?.commentCount || 0) / parseInt(v.statistics?.viewCount || 1)), 0) / videos.length * 100).toFixed(2) : 0,\n      engagementRate: function() {\n        const rate = parseFloat(this.avgLikesPerView) + parseFloat(this.avgCommentsPerView);\n        if (rate >= 3) return '✅ Excellent (3%+)';\n        if (rate >= 1.5) return '⚠️ Good (1.5-3%)';\n        return '❌ Low (< 1.5%)';\n      }(),\n      algorithmImpact: 'Critical - High engagement = More recommendations',\n      recommendation: function() {\n        const rate = parseFloat(this.avgLikesPerView) + parseFloat(this.avgCommentsPerView);\n        if (rate >= 3) return 'Excellent engagement - keep it up!';\n        if (rate >= 1.5) return 'Good - add CTAs for likes/comments in videos';\n        return 'Low engagement - add question in pinned comment, ask for opinions';\n      }()\n    },\n    \n    // Video Duration Strategy\n    videoDuration: {\n      avgDuration: videos.length > 0 ? Math.round(videos.reduce((sum, v) => {\n        const duration = v.contentDetails?.duration || 'PT0S';\n        const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n        const hours = parseInt(match[1] || 0);\n        const minutes = parseInt(match[2] || 0);\n        const seconds = parseInt(match[3] || 0);\n        return sum + (hours * 3600 + minutes * 60 + seconds);\n      }, 0) / videos.length) : 0,\n      shortsCount: videos.filter(v => {\n        const duration = v.contentDetails?.duration || 'PT0S';\n        const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n        const totalSeconds = (parseInt(match[1] || 0) * 3600) + (parseInt(match[2] || 0) * 60) + parseInt(match[3] || 0);\n        return totalSeconds <= 60;\n      }).length,\n      longFormCount: videos.filter(v => {\n        const duration = v.contentDetails?.duration || 'PT0S';\n        const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n        const totalSeconds = (parseInt(match[1] || 0) * 3600) + (parseInt(match[2] || 0) * 60) + parseInt(match[3] || 0);\n        return totalSeconds > 60;\n      }).length,\n      status: function() {\n        const avgMinutes = Math.floor(this.avgDuration / 60);\n        if (avgMinutes >= 8) return '✅ Good for watch time (8+ min avg)';\n        if (avgMinutes >= 4) return '⚠️ Moderate (4-8 min avg)';\n        return '⚠️ Short (< 4 min avg) - harder to monetize';\n      }(),\n      algorithmImpact: 'High - Longer videos = more watch time = better ranking',\n      recommendation: function() {\n        if (this.shortsCount > this.longFormCount * 2) return 'Balance Shorts with long-form content (8-15 min)';\n        if (Math.floor(this.avgDuration / 60) < 8) return 'Increase avg video length to 8-12 minutes for better watch time';\n        return 'Good duration strategy - keep it sustainable';\n      }()\n    },\n    \n    // CTR Optimization Proxy\n    thumbnailQuality: {\n      customThumbnailCount: videos.filter(v => {\n        const thumb = v.snippet?.thumbnails?.maxres?.url || v.snippet?.thumbnails?.high?.url || '';\n        return !thumb.includes('default');\n      }).length,\n      customThumbnailPercentage: videos.length > 0 ? Math.round((videos.filter(v => {\n        const thumb = v.snippet?.thumbnails?.maxres?.url || v.snippet?.thumbnails?.high?.url || '';\n        return !thumb.includes('default');\n      }).length / videos.length) * 100) : 0,\n      status: function() {\n        if (this.customThumbnailPercentage >= 90) return '✅ Excellent (90%+ custom)';\n        if (this.customThumbnailPercentage >= 70) return '⚠️ Good (70-90% custom)';\n        return '❌ Poor (< 70% custom)';\n      }(),\n      algorithmImpact: 'Critical - CTR is #1 ranking factor',\n      recommendation: function() {\n        if (this.customThumbnailPercentage >= 90) return 'Great! Ensure thumbnails are mobile-optimized';\n        if (this.customThumbnailPercentage >= 70) return `Fix ${videos.length - this.customThumbnailCount} videos without custom thumbnails`;\n        return 'URGENT: Add custom thumbnails to all videos - default thumbnails kill CTR';\n      }()\n    }\n  },\n  \n  // Critical Settings (Algorithm Killers)\n  criticalSettings: {\n    madeForKids: {\n      isSet: channel.status?.madeForKids !== undefined,\n      value: channel.status?.madeForKids,\n      status: channel.status?.madeForKids === false ? '✅ Not for kids (best for reach)' : channel.status?.madeForKids === true ? '⚠️ Made for kids (limited features)' : '❌ Not configured',\n      algorithmImpact: channel.status?.madeForKids === true ? 'High - Restricts personalized ads, comments, notifications' : 'None if set to false',\n      recommendation: channel.status?.madeForKids === undefined ? 'Set in Advanced Settings immediately' : channel.status?.madeForKids ? 'If not kids content, change this ASAP' : 'Correct setting'\n    },\n    \n    privacyStatus: {\n      publicCount: videos.filter(v => v.status?.privacyStatus === 'public').length,\n      unlistedCount: videos.filter(v => v.status?.privacyStatus === 'unlisted').length,\n      privateCount: videos.filter(v => v.status?.privacyStatus === 'private').length,\n      status: function() {\n        const publicPercent = videos.length > 0 ? (this.publicCount / videos.length) * 100 : 0;\n        if (publicPercent >= 80) return '✅ Mostly public (good)';\n        if (publicPercent >= 50) return '⚠️ Many unlisted/private';\n        return '❌ Too few public videos';\n      }(),\n      algorithmImpact: 'High - Only public videos get recommended',\n      recommendation: function() {\n        if (this.unlistedCount > this.publicCount) return `Make ${this.unlistedCount} unlisted videos public`;\n        if (this.publicCount === 0) return 'No public videos - channel invisible to algorithm';\n        return 'Good public/private ratio';\n      }()\n    },\n    \n    videoCategory: {\n      categories: videos.reduce((acc, v) => {\n        const cat = v.snippet?.categoryId || 'Unknown';\n        acc[cat] = (acc[cat] || 0) + 1;\n        return acc;\n      }, {}),\n      mostUsedCategory: function() {\n        const entries = Object.entries(this.categories);\n        if (entries.length === 0) return 'None';\n        const sorted = entries.sort((a, b) => b[1] - a[1]);\n        const categoryNames = {\n          '1': 'Film & Animation', '2': 'Autos & Vehicles', '10': 'Music',\n          '15': 'Pets & Animals', '17': 'Sports', '19': 'Travel & Events',\n          '20': 'Gaming', '22': 'People & Blogs', '23': 'Comedy',\n          '24': 'Entertainment', '25': 'News & Politics', '26': 'Howto & Style',\n          '27': 'Education', '28': 'Science & Technology', '29': 'Nonprofits & Activism'\n        };\n        return categoryNames[sorted[0][0]] || `Category ${sorted[0][0]}`;\n      }(),\n      consistency: function() {\n        const entries = Object.entries(this.categories);\n        if (entries.length === 0) return 0;\n        const sorted = entries.sort((a, b) => b[1] - a[1]);\n        return Math.round((sorted[0][1] / videos.length) * 100);\n      }(),\n      status: function() {\n        if (this.consistency >= 80) return '✅ Consistent category (80%+)';\n        if (this.consistency >= 60) return '⚠️ Somewhat consistent (60-80%)';\n        return '❌ Inconsistent categories (< 60%)';\n      }(),\n      algorithmImpact: 'Medium-High - Category affects recommendation pool',\n      recommendation: function() {\n        if (this.consistency >= 80) return `Good - sticking with ${this.mostUsedCategory}`;\n        return `Inconsistent - pick one category (currently ${this.mostUsedCategory} at ${this.consistency}%)`;\n      }()\n    }\n  },\n  \n  // SEO & Discovery\n  seoDiscovery: {\n    channelDescription: {\n      exists: !!channel.snippet?.description,\n      length: (channel.snippet?.description || '').length,\n      hasLinks: (channel.snippet?.description || '').includes('http'),\n      status: function() {\n        if (this.length >= 200) return '✅ Good length (200+ chars)';\n        if (this.length >= 100) return '⚠️ Could be longer (100-200 chars)';\n        if (this.length > 0) return '❌ Too short (< 100 chars)';\n        return '❌ Empty';\n      }(),\n      recommendation: function() {\n        if (this.length >= 200) return 'Good - ensure keywords are included';\n        if (this.length > 0) return `Expand by ${200 - this.length} characters, add keywords`;\n        return 'Write 200-500 char description with main keywords';\n      }()\n    },\n    \n    channelKeywords: {\n      exists: !!channel.brandingSettings?.channel?.keywords,\n      count: (channel.brandingSettings?.channel?.keywords || '').split(',').filter(k => k.trim()).length,\n      keywords: channel.brandingSettings?.channel?.keywords || '',\n      status: function() {\n        if (this.count >= 10) return '✅ Good (10+ keywords)';\n        if (this.count >= 5) return '⚠️ Add more (5-10 keywords)';\n        if (this.count > 0) return '❌ Too few (< 5 keywords)';\n        return '❌ None set';\n      }(),\n      recommendation: function() {\n        if (this.count >= 10) return 'Good - review quarterly as content evolves';\n        if (this.count > 0) return `Add ${10 - this.count} more relevant keywords`;\n        return 'Add 10-15 keywords describing your channel niche';\n      }()\n    },\n    \n    videoTitles: {\n      avgLength: videos.length > 0 ? Math.round(videos.reduce((sum, v) => sum + v.snippet.title.length, 0) / videos.length) : 0,\n      tooShort: videos.filter(v => v.snippet.title.length < 40).length,\n      tooLong: videos.filter(v => v.snippet.title.length > 70).length,\n      optimal: videos.filter(v => v.snippet.title.length >= 40 && v.snippet.title.length <= 70).length,\n      status: function() {\n        const optimalPercent = videos.length > 0 ? (this.optimal / videos.length) * 100 : 0;\n        if (optimalPercent >= 70) return '✅ Most titles optimized (70%+)';\n        if (optimalPercent >= 50) return '⚠️ Half optimized (50-70%)';\n        return '❌ Poor title optimization (< 50%)';\n      }(),\n      recommendation: function() {\n        if (this.tooShort > this.optimal) return `${this.tooShort} titles too short - expand to 40-70 chars`;\n        if (this.tooLong > this.optimal) return `${this.tooLong} titles too long - shorten to 40-70 chars`;\n        return 'Good title lengths';\n      }()\n    },\n    \n    videoTags: {\n      avgCount: videos.length > 0 ? Math.round(videos.reduce((sum, v) => sum + (v.snippet?.tags || []).length, 0) / videos.length) : 0,\n      noTags: videos.filter(v => !(v.snippet?.tags || []).length).length,\n      status: function() {\n        if (this.avgCount >= 8) return '✅ Good tagging (8+ avg)';\n        if (this.avgCount >= 5) return '⚠️ Moderate (5-8 avg)';\n        return '❌ Insufficient tags (< 5 avg)';\n      }(),\n      recommendation: function() {\n        if (this.noTags > 0) return `Add tags to ${this.noTags} videos`;\n        if (this.avgCount < 5) return 'Increase to 8-15 tags per video';\n        return 'Good tag usage';\n      }()\n    }\n  },\n  \n  // Monetization Readiness\n  monetization: {\n    subscriberCount: parseInt(channel.statistics?.subscriberCount || 0),\n    viewCount: parseInt(channel.statistics?.viewCount || 0),\n    videoCount: parseInt(channel.statistics?.videoCount || 0),\n    meetsSubRequirement: parseInt(channel.statistics?.subscriberCount || 0) >= 1000,\n    estimatedWatchHours: function() {\n      // Rough estimate based on avg views and duration\n      const avgViews = videos.length > 0 ? videos.reduce((sum, v) => sum + parseInt(v.statistics?.viewCount || 0), 0) / videos.length : 0;\n      const avgDuration = videos.length > 0 ? videos.reduce((sum, v) => {\n        const duration = v.contentDetails?.duration || 'PT0S';\n        const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n        return sum + ((parseInt(match[1] || 0) * 60) + parseInt(match[2] || 0));\n      }, 0) / videos.length : 0;\n      return Math.round((avgViews * avgDuration * parseInt(channel.statistics?.videoCount || 0)) / 60);\n    }(),\n    status: function() {\n      if (this.meetsSubRequirement && this.estimatedWatchHours >= 4000) return '✅ Likely eligible for monetization';\n      if (this.meetsSubRequirement) return '⚠️ Need 4000 watch hours';\n      if (this.subscriberCount >= 500) return '⚠️ Halfway to 1000 subs';\n      return '❌ Not eligible yet';\n    }(),\n    recommendation: function() {\n      if (this.meetsSubRequirement && this.estimatedWatchHours >= 4000) return 'Apply for YPP in YouTube Studio';\n      if (this.meetsSubRequirement) return `Need ~${4000 - this.estimatedWatchHours} more watch hours`;\n      return `Need ${1000 - this.subscriberCount} more subscribers`;\n    }()\n  },\n  \n  // Overall Scores\n  scores: {\n    algorithm: 0,\n    seo: 0,\n    engagement: 0,\n    content: 0,\n    total: 0\n  }\n};\n\n// Calculate Algorithm Score (40 points)\naudit.scores.algorithm = [\n  audit.algorithmOptimization.uploadConsistency.lastUploadDaysAgo <= 7 ? 10 : audit.algorithmOptimization.uploadConsistency.lastUploadDaysAgo <= 30 ? 5 : 0,\n  parseFloat(audit.algorithmOptimization.engagement.avgLikesPerView) + parseFloat(audit.algorithmOptimization.engagement.avgCommentsPerView) >= 3 ? 10 : 5,\n  audit.algorithmOptimization.videoDuration.avgDuration >= 480 ? 10 : 5,\n  audit.algorithmOptimization.thumbnailQuality.customThumbnailPercentage >= 90 ? 10 : audit.algorithmOptimization.thumbnailQuality.customThumbnailPercentage >= 70 ? 5 : 0\n].reduce((a, b) => a + b, 0);\n\n// Calculate SEO Score (30 points)\naudit.scores.seo = [\n  audit.seoDiscovery.channelDescription.length >= 200 ? 10 : audit.seoDiscovery.channelDescription.length >= 100 ? 5 : 0,\n  audit.seoDiscovery.channelKeywords.count >= 10 ? 10 : audit.seoDiscovery.channelKeywords.count >= 5 ? 5 : 0,\n  audit.seoDiscovery.videoTags.avgCount >= 8 ? 10 : audit.seoDiscovery.videoTags.avgCount >= 5 ? 5 : 0\n].reduce((a, b) => a + b, 0);\n\n// Calculate Engagement Score (15 points)\naudit.scores.engagement = [\n  parseFloat(audit.algorithmOptimization.engagement.avgLikesPerView) >= 2 ? 8 : 4,\n  parseFloat(audit.algorithmOptimization.engagement.avgCommentsPerView) >= 1 ? 7 : 3\n].reduce((a, b) => a + b, 0);\n\n// Calculate Content Score (15 points)\naudit.scores.content = [\n  audit.criticalSettings.privacyStatus.publicCount >= videos.length * 0.8 ? 8 : 4,\n  audit.criticalSettings.videoCategory.consistency >= 80 ? 7 : 3\n].reduce((a, b) => a + b, 0);\n\naudit.scores.total = audit.scores.algorithm + audit.scores.seo + audit.scores.engagement + audit.scores.content;\n\n// Priority Actions\naudit.priorityActions = [];\n\nif (audit.algorithmOptimization.uploadConsistency.lastUploadDaysAgo > 30) {\n  audit.priorityActions.push({ priority: 'CRITICAL', category: 'Algorithm', action: 'Upload immediately - channel is inactive', impact: 'Very High - Inactive channels get buried' });\n}\nif (audit.algorithmOptimization.thumbnailQuality.customThumbnailPercentage < 70) {\n  audit.priorityActions.push({ priority: 'CRITICAL', category: 'Algorithm', action: `Add custom thumbnails to ${videos.length - audit.algorithmOptimization.thumbnailQuality.customThumbnailCount} videos`, impact: 'Very High - CTR is #1 ranking factor' });\n}\nif (audit.criticalSettings.madeForKids.value === true) {\n  audit.priorityActions.push({ priority: 'CRITICAL', category: 'Settings', action: 'Change \"Made for Kids\" to NO (if applicable)', impact: 'Very High - Restricts monetization and features' });\n}\nif (audit.seoDiscovery.channelKeywords.count < 5) {\n  audit.priorityActions.push({ priority: 'HIGH', category: 'SEO', action: 'Add 10-15 channel keywords', impact: 'High - Helps channel discovery' });\n}\nif (audit.seoDiscovery.channelDescription.length < 100) {\n  audit.priorityActions.push({ priority: 'HIGH', category: 'SEO', action: 'Write detailed channel description (200+ chars)', impact: 'High - SEO and user understanding' });\n}\nif (parseFloat(audit.algorithmOptimization.engagement.avgLikesPerView) + parseFloat(audit.algorithmOptimization.engagement.avgCommentsPerView) < 1.5) {\n  audit.priorityActions.push({ priority: 'HIGH', category: 'Engagement', action: 'Add CTA in videos: ask viewers to like/comment', impact: 'High - Engagement drives recommendations' });\n}\nif (audit.seoDiscovery.videoTags.noTags > 0) {\n  audit.priorityActions.push({ priority: 'MEDIUM', category: 'SEO', action: `Add tags to ${audit.seoDiscovery.videoTags.noTags} videos`, impact: 'Medium - Helps video discovery' });\n}\n\nreturn [{ json: audit }];"
      },
      "typeVersion": 2
    },
    {
      "id": "create-html-report-v2",
      "name": "Create Visual Report",
      "type": "n8n-nodes-base.code",
      "position": [0, 0],
      "parameters": {
        "jsCode": "const audit = $input.item.json;\n\nconst getScoreColor = (score, max) => {\n  const percent = (score / max) * 100;\n  if (percent >= 80) return '#10b981';\n  if (percent >= 60) return '#f59e0b';\n  return '#ef4444';\n};\n\nconst getScoreGrade = (score, max) => {\n  const percent = (score / max) * 100;\n  if (percent >= 90) return 'A';\n  if (percent >= 80) return 'B';\n  if (percent >= 70) return 'C';\n  if (percent >= 60) return 'D';\n  return 'F';\n};\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>YouTube Channel Audit - ${audit.meta.channelName}</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { \n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      padding: 20px;\n      color: #1f2937;\n    }\n    .container { \n      max-width: 1200px; \n      margin: 0 auto; \n      background: white;\n      border-radius: 16px;\n      box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n      overflow: hidden;\n    }\n    .header {\n      background: linear-gradient(135deg, #FF0000 0%, #CC0000 100%);\n      color: white;\n      padding: 40px;\n      text-align: center;\n    }\n    .header h1 { font-size: 32px; margin-bottom: 8px; }\n    .header p { opacity: 0.9; font-size: 14px; }\n    \n    .score-dashboard {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n      gap: 20px;\n      padding: 30px;\n      background: #f9fafb;\n    }\n    .score-card {\n      background: white;\n      border-radius: 12px;\n      padding: 24px;\n      text-align: center;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n      border-left: 4px solid;\n    }\n    .score-card h3 { font-size: 14px; color: #6b7280; margin-bottom: 12px; text-transform: uppercase; letter-spacing: 0.5px; }\n    .score-number { font-size: 48px; font-weight: bold; margin-bottom: 8px; }\n    .score-grade { font-size: 24px; opacity: 0.7; }\n    \n    .section {\n      padding: 30px;\n      border-bottom: 1px solid #e5e7eb;\n    }\n    .section:last-child { border-bottom: none; }\n    .section-title {\n      font-size: 24px;\n      font-weight: 700;\n      margin-bottom: 20px;\n      display: flex;\n      align-items: center;\n      gap: 12px;\n    }\n    .section-title::before {\n      content: '';\n      width: 4px;\n      height: 28px;\n      background: #667eea;\n      border-radius: 2px;\n    }\n    \n    .metric-grid {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));\n      gap: 20px;\n      margin-top: 20px;\n    }\n    .metric {\n      background: #f9fafb;\n      padding: 20px;\n      border-radius: 8px;\n      border-left: 3px solid #d1d5db;\n    }\n    .metric.success { border-left-color: #10b981; }\n    .metric.warning { border-left-color: #f59e0b; }\n    .metric.error { border-left-color: #ef4444; }\n    \n    .metric-label {\n      font-size: 13px;\n      color: #6b7280;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      margin-bottom: 8px;\n    }\n    .metric-value {\n      font-size: 18px;\n      font-weight: 600;\n      margin-bottom: 8px;\n    }\n    .metric-status {\n      font-size: 14px;\n      margin-bottom: 4px;\n    }\n    .metric-impact {\n      font-size: 12px;\n      color: #6b7280;\n      margin-bottom: 8px;\n      padding: 8px;\n      background: white;\n      border-radius: 4px;\n    }\n    .metric-recommendation {\n      font-size: 13px;\n      color: #374151;\n      font-weight: 500;\n      padding: 12px;\n      background: white;\n      border-radius: 6px;\n      margin-top: 8px;\n    }\n    \n    .priority-actions {\n      background: #fef3c7;\n      padding: 24px;\n      border-radius: 12px;\n      margin: 20px 0;\n    }\n    .priority-actions h3 {\n      font-size: 18px;\n      margin-bottom: 16px;\n      display: flex;\n      align-items: center;\n      gap: 8px;\n    }\n    .action-item {\n      background: white;\n      padding: 16px;\n      border-radius: 8px;\n      margin-bottom: 12px;\n      border-left: 4px solid;\n    }\n    .action-item.critical { border-left-color: #ef4444; }\n    .action-item.high { border-left-color: #f59e0b; }\n    .action-item.medium { border-left-color: #3b82f6; }\n    .action-badge {\n      display: inline-block;\n      padding: 4px 12px;\n      border-radius: 12px;\n      font-size: 11px;\n      font-weight: 700;\n      text-transform: uppercase;\n      margin-right: 8px;\n    }\n    .action-badge.critical { background: #fee2e2; color: #991b1b; }\n    .action-badge.high { background: #fef3c7; color: #92400e; }\n    .action-badge.medium { background: #dbeafe; color: #1e40af; }\n    \n    .footer {\n      background: #f9fafb;\n      padding: 30px;\n      text-align: center;\n      font-size: 14px;\n      color: #6b7280;\n    }\n    .footer a { color: #667eea; text-decoration: none; font-weight: 600; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎬 ${audit.meta.channelName}</h1>\n      <p>Channel Optimization Audit • ${new Date(audit.meta.auditDate).toLocaleDateString()}</p>\n      <p style=\"margin-top: 8px; font-size: 12px; opacity: 0.8;\">${audit.meta.videosAnalyzed} videos analyzed</p>\n    </div>\n    \n    <div class=\"score-dashboard\">\n      <div class=\"score-card\" style=\"border-left-color: ${getScoreColor(audit.scores.total, 100)}\">\n        <h3>Overall Score</h3>\n        <div class=\"score-number\" style=\"color: ${getScoreColor(audit.scores.total, 100)}\">${audit.scores.total}</div>\n        <div class=\"score-grade\">Grade: ${getScoreGrade(audit.scores.total, 100)}</div>\n      </div>\n      \n      <div class=\"score-card\" style=\"border-left-color: ${getScoreColor(audit.scores.algorithm, 40)}\">\n        <h3>Algorithm</h3>\n        <div class=\"score-number\" style=\"color: ${getScoreColor(audit.scores.algorithm, 40)}\">${audit.scores.algorithm}</div>\n        <div class=\"score-grade\">/ 40</div>\n      </div>\n      \n      <div class=\"score-card\" style=\"border-left-color: ${getScoreColor(audit.scores.seo, 30)}\">\n        <h3>SEO</h3>\n        <div class=\"score-number\" style=\"color: ${getScoreColor(audit.scores.seo, 30)}\">${audit.scores.seo}</div>\n        <div class=\"score-grade\">/ 30</div>\n      </div>\n      \n      <div class=\"score-card\" style=\"border-left-color: ${getScoreColor(audit.scores.engagement, 15)}\">\n        <h3>Engagement</h3>\n        <div class=\"score-number\" style=\"color: ${getScoreColor(audit.scores.engagement, 15)}\">${audit.scores.engagement}</div>\n        <div class=\"score-grade\">/ 15</div>\n      </div>\n      \n      <div class=\"score-card\" style=\"border-left-color: ${getScoreColor(audit.scores.content, 15)}\">\n        <h3>Content</h3>\n        <div class=\"score-number\" style=\"color: ${getScoreColor(audit.scores.content, 15)}\">${audit.scores.content}</div>\n        <div class=\"score-grade\">/ 15</div>\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <div class=\"priority-actions\">\n        <h3>⚡ Priority Actions</h3>\n        ${audit.priorityActions.map(action => `\n          <div class=\"action-item ${action.priority.toLowerCase()}\">\n            <div>\n              <span class=\"action-badge ${action.priority.toLowerCase()}\">${action.priority}</span>\n              <strong>${action.category}</strong>\n            </div>\n            <div style=\"margin-top: 8px; font-size: 15px;\">${action.action}</div>\n            <div style=\"margin-top: 4px; font-size: 13px; color: #6b7280;\">Impact: ${action.impact}</div>\n          </div>\n        `).join('')}\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <div class=\"section-title\">🤖 Algorithm Optimization</div>\n      <div class=\"metric-grid\">\n        <div class=\"metric ${audit.algorithmOptimization.uploadConsistency.status.startsWith('✅') ? 'success' : audit.algorithmOptimization.uploadConsistency.status.startsWith('⚠️') ? 'warning' : 'error'}\">\n          <div class=\"metric-label\">Upload Consistency</div>\n          <div class=\"metric-value\">${audit.algorithmOptimization.uploadConsistency.lastUploadDaysAgo} days ago</div>\n          <div class=\"metric-status\">${audit.algorithmOptimization.uploadConsistency.status}</div>\n          <div class=\"metric-impact\"><strong>Impact:</strong> ${audit.algorithmOptimization.uploadConsistency.algorithmImpact}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.algorithmOptimization.uploadConsistency.recommendation}</div>\n        </div>\n        \n        <div class=\"metric ${audit.algorithmOptimization.engagement.engagementRate.startsWith('✅') ? 'success' : audit.algorithmOptimization.engagement.engagementRate.startsWith('⚠️') ? 'warning' : 'error'}\">\n          <div class=\"metric-label\">Engagement Rate</div>\n          <div class=\"metric-value\">${(parseFloat(audit.algorithmOptimization.engagement.avgLikesPerView) + parseFloat(audit.algorithmOptimization.engagement.avgCommentsPerView)).toFixed(2)}%</div>\n          <div class=\"metric-status\">${audit.algorithmOptimization.engagement.engagementRate}</div>\n          <div class=\"metric-impact\"><strong>Impact:</strong> ${audit.algorithmOptimization.engagement.algorithmImpact}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.algorithmOptimization.engagement.recommendation}</div>\n        </div>\n        \n        <div class=\"metric ${audit.algorithmOptimization.videoDuration.status.startsWith('✅') ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Average Duration</div>\n          <div class=\"metric-value\">${Math.floor(audit.algorithmOptimization.videoDuration.avgDuration / 60)}:${String(audit.algorithmOptimization.videoDuration.avgDuration % 60).padStart(2, '0')}</div>\n          <div class=\"metric-status\">${audit.algorithmOptimization.videoDuration.status}</div>\n          <div class=\"metric-impact\"><strong>Impact:</strong> ${audit.algorithmOptimization.videoDuration.algorithmImpact}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.algorithmOptimization.videoDuration.recommendation}</div>\n        </div>\n        \n        <div class=\"metric ${audit.algorithmOptimization.thumbnailQuality.status.startsWith('✅') ? 'success' : audit.algorithmOptimization.thumbnailQuality.status.startsWith('⚠️') ? 'warning' : 'error'}\">\n          <div class=\"metric-label\">Custom Thumbnails</div>\n          <div class=\"metric-value\">${audit.algorithmOptimization.thumbnailQuality.customThumbnailPercentage}%</div>\n          <div class=\"metric-status\">${audit.algorithmOptimization.thumbnailQuality.status}</div>\n          <div class=\"metric-impact\"><strong>Impact:</strong> ${audit.algorithmOptimization.thumbnailQuality.algorithmImpact}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.algorithmOptimization.thumbnailQuality.recommendation}</div>\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <div class=\"section-title\">⚙️ Critical Settings</div>\n      <div class=\"metric-grid\">\n        <div class=\"metric ${audit.criticalSettings.madeForKids.status.startsWith('✅') ? 'success' : 'error'}\">\n          <div class=\"metric-label\">Made for Kids</div>\n          <div class=\"metric-value\">${audit.criticalSettings.madeForKids.value === false ? 'No' : audit.criticalSettings.madeForKids.value === true ? 'Yes' : 'Not Set'}</div>\n          <div class=\"metric-status\">${audit.criticalSettings.madeForKids.status}</div>\n          <div class=\"metric-impact\"><strong>Impact:</strong> ${audit.criticalSettings.madeForKids.algorithmImpact}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.criticalSettings.madeForKids.recommendation}</div>\n        </div>\n        \n        <div class=\"metric ${audit.criticalSettings.privacyStatus.status.startsWith('✅') ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Video Privacy</div>\n          <div class=\"metric-value\">${audit.criticalSettings.privacyStatus.publicCount} public</div>\n          <div class=\"metric-status\">${audit.criticalSettings.privacyStatus.status}</div>\n          <div class=\"metric-impact\"><strong>Impact:</strong> ${audit.criticalSettings.privacyStatus.algorithmImpact}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.criticalSettings.privacyStatus.recommendation}</div>\n        </div>\n        \n        <div class=\"metric ${audit.criticalSettings.videoCategory.status.startsWith('✅') ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Category Consistency</div>\n          <div class=\"metric-value\">${audit.criticalSettings.videoCategory.mostUsedCategory}</div>\n          <div class=\"metric-status\">${audit.criticalSettings.videoCategory.consistency}% consistent</div>\n          <div class=\"metric-impact\"><strong>Impact:</strong> ${audit.criticalSettings.videoCategory.algorithmImpact}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.criticalSettings.videoCategory.recommendation}</div>\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <div class=\"section-title\">🔍 SEO & Discovery</div>\n      <div class=\"metric-grid\">\n        <div class=\"metric ${audit.seoDiscovery.channelDescription.status.startsWith('✅') ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Channel Description</div>\n          <div class=\"metric-value\">${audit.seoDiscovery.channelDescription.length} characters</div>\n          <div class=\"metric-status\">${audit.seoDiscovery.channelDescription.status}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.seoDiscovery.channelDescription.recommendation}</div>\n        </div>\n        \n        <div class=\"metric ${audit.seoDiscovery.channelKeywords.status.startsWith('✅') ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Channel Keywords</div>\n          <div class=\"metric-value\">${audit.seoDiscovery.channelKeywords.count} keywords</div>\n          <div class=\"metric-status\">${audit.seoDiscovery.channelKeywords.status}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.seoDiscovery.channelKeywords.recommendation}</div>\n        </div>\n        \n        <div class=\"metric ${audit.seoDiscovery.videoTitles.status.startsWith('✅') ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Video Titles</div>\n          <div class=\"metric-value\">${audit.seoDiscovery.videoTitles.avgLength} avg chars</div>\n          <div class=\"metric-status\">${audit.seoDiscovery.videoTitles.optimal} optimal (40-70 chars)</div>\n          <div class=\"metric-recommendation\">💡 ${audit.seoDiscovery.videoTitles.recommendation}</div>\n        </div>\n        \n        <div class=\"metric ${audit.seoDiscovery.videoTags.status.startsWith('✅') ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Video Tags</div>\n          <div class=\"metric-value\">${audit.seoDiscovery.videoTags.avgCount} avg tags</div>\n          <div class=\"metric-status\">${audit.seoDiscovery.videoTags.status}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.seoDiscovery.videoTags.recommendation}</div>\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <div class=\"section-title\">💰 Monetization Readiness</div>\n      <div class=\"metric-grid\">\n        <div class=\"metric ${audit.monetization.meetsSubRequirement ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Subscribers</div>\n          <div class=\"metric-value\">${audit.monetization.subscriberCount.toLocaleString()}</div>\n          <div class=\"metric-status\">${audit.monetization.meetsSubRequirement ? '✅ Meets requirement (1000+)' : `⚠️ Need ${1000 - audit.monetization.subscriberCount} more`}</div>\n        </div>\n        \n        <div class=\"metric ${audit.monetization.estimatedWatchHours >= 4000 ? 'success' : 'warning'}\">\n          <div class=\"metric-label\">Est. Watch Hours</div>\n          <div class=\"metric-value\">~${audit.monetization.estimatedWatchHours.toLocaleString()}</div>\n          <div class=\"metric-status\">${audit.monetization.estimatedWatchHours >= 4000 ? '✅ Meets requirement (4000+)' : `⚠️ Need ~${4000 - audit.monetization.estimatedWatchHours} more`}</div>\n        </div>\n        \n        <div class=\"metric\">\n          <div class=\"metric-label\">Status</div>\n          <div class=\"metric-value\">${audit.monetization.status}</div>\n          <div class=\"metric-recommendation\">💡 ${audit.monetization.recommendation}</div>\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>Next Steps:</strong></p>\n      <p style=\"margin-top: 8px;\">1. Address priority actions above</p>\n      <p>2. Use <a href=\"#\">AI-Powered Channel Optimizer</a> to generate optimized content</p>\n      <p>3. Apply changes in <a href=\"${audit.meta.studioUrl}\" target=\"_blank\">YouTube Studio</a></p>\n      <p style=\"margin-top: 16px; font-size: 12px;\">Generated by n8n YouTube Channel Audit Workflow</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ \n  json: { \n    html: html,\n    audit: audit \n  },\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: `youtube-audit-${audit.meta.channelName.replace(/[^a-z0-9]/gi, '-')}-${new Date().toISOString().split('T')[0]}.html`\n    }\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "sticky-v2",
      "name": "Sticky Note - V2 Features",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1280, -280],
      "parameters": {
        "width": 640,
        "height": 560,
        "content": "## YouTube Channel Audit V2 - Enhanced\n\n### New Features\n\n✨ **Visual HTML Report**\n- Beautiful color-coded dashboard\n- Score breakdown by category\n- Mobile-friendly design\n- Export as HTML file\n\n🤖 **Algorithm-Focused Analysis**\n- Upload consistency tracking\n- Engagement rate calculation\n- CTR optimization (thumbnails)\n- Watch time metrics\n\n⚙️ **Critical Settings Check**\n- \"Made for Kids\" status\n- Video privacy analysis\n- Category consistency\n- Monetization readiness\n\n📊 **Scoring System**\n- Algorithm: 40 points\n- SEO: 30 points\n- Engagement: 15 points\n- Content: 15 points\n- Total: 100 points\n\n### Output Formats\n\n1. **HTML Report** (Visual)\n   - Check binary data\n   - Download and open in browser\n   - Share with team\n\n2. **JSON Data** (Machine-readable)\n   - Full audit details\n   - Use for automation\n   - Feed to other workflows\n\n### Setup\n\n1. Import template\n2. Connect YouTube OAuth2 to all 3 HTTP nodes\n3. Run workflow\n4. Download HTML report from binary output\n\n### Best For\n\n- Monthly channel reviews\n- Pre-monetization checklist\n- Algorithm optimization\n- Team reporting"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Get Channel Details", "type": "main", "index": 0}]]
    },
    "Get Channel Details": {
      "main": [[{"node": "Get Recent Videos", "type": "main", "index": 0}]]
    },
    "Get Recent Videos": {
      "main": [[{"node": "Get Video Details", "type": "main", "index": 0}]]
    },
    "Get Video Details": {
      "main": [[{"node": "Enhanced Algorithm Analysis", "type": "main", "index": 0}]]
    },
    "Enhanced Algorithm Analysis": {
      "main": [[{"node": "Create Visual Report", "type": "main", "index": 0}]]
    }
  }
}
