YouTube Featured Channels Updater/template-v2-personal.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "7fe6188f-80c7-4bac-b19e-4145734b0b55",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        2896,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet\",\n  \"mine\": \"true\"\n}",
        "options": {}
      },
      "id": "decc18fe-32ff-494e-b617-7a0dd8e3e7fb",
      "name": "Get My Channel",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3120,
        -160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "LZbKs6ZEc2SEt766",
          "name": "YouTube Account Dollenable"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "channel-id",
              "name": "channelId",
              "type": "string",
              "value": "={{ $json.items[0].id }}"
            },
            {
              "id": "channel-title",
              "name": "channelTitle",
              "type": "string",
              "value": "={{ $json.items[0].snippet.title }}"
            },
            {
              "id": "section-title",
              "name": "sectionTitle",
              "type": "string",
              "value": "Cultured Corner 🍷"
            },
            {
              "id": "featured-channels",
              "name": "featuredChannels",
              "type": "array",
              "value": "={{ [\n  \"UC434hYDRQ_tzPUtSUAKNxwA\",\n  \"UCEH0sxRdQsy-y6-I-7V0pvw\",\n  \"UCvF_vV9iGZowLL_SxmKJ7_Q\",\n  \"UCXhYzdDMIFpKWJgY2PRpfnQ\",\n  \"UCG2lQGYhvB9MdKiPZK7_XKQ\",\n  \"UC306rH2OGwvmuI1E-I3SsHg\"\n] }}"
            },
            {
              "id": "target-position",
              "name": "targetPosition",
              "type": "number",
              "value": 0
            }
          ]
        },
        "options": {}
      },
      "id": "442fefe7-7ec7-4283-b190-39b8b40e6ad3",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        3344,
        -160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channelSections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet,contentDetails\",\n  \"mine\": \"true\"\n}",
        "options": {}
      },
      "id": "8929dc0e-e0b3-488c-a3c0-3d817d849ede",
      "name": "Get Current Sections",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3568,
        -160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "LZbKs6ZEc2SEt766",
          "name": "YouTube Account Dollenable"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find existing Featured Channels section\nconst config = $('Set Configuration').first().json;\nconst sections = $input.first().json.items || [];\n\n// Helper to check if type is multipleChannels (case-insensitive)\nconst isMultipleChannels = (type) => type?.toLowerCase() === 'multiplechannels';\n\n// Helper to normalize title for comparison\nconst normalizeTitle = (title) => (title || '').trim().toLowerCase();\n\n// Look for an existing multipleChannels section with matching title\nlet existingSection = null;\nlet existingSectionId = null;\nconst targetTitle = normalizeTitle(config.sectionTitle);\n\nfor (const section of sections) {\n  if (isMultipleChannels(section.snippet?.type)) {\n    const sectionTitle = normalizeTitle(section.snippet?.title);\n    if (sectionTitle === targetTitle) {\n      existingSection = section;\n      existingSectionId = section.id;\n      break;\n    }\n  }\n}\n\n// If no exact match found, look for any multipleChannels section at target position\nif (!existingSection) {\n  for (const section of sections) {\n    if (isMultipleChannels(section.snippet?.type) && \n        section.snippet?.position === config.targetPosition) {\n      existingSection = section;\n      existingSectionId = section.id;\n      break;\n    }\n  }\n}\n\n// Debug: list all multipleChannels sections found\nconst allMultiChannelSections = sections\n  .filter(s => isMultipleChannels(s.snippet?.type))\n  .map(s => ({ id: s.id, title: s.snippet?.title, position: s.snippet?.position }));\n\nreturn {\n  channelId: config.channelId,\n  channelTitle: config.channelTitle,\n  sectionTitle: config.sectionTitle,\n  featuredChannels: config.featuredChannels,\n  targetPosition: config.targetPosition,\n  existingSection: existingSection,\n  existingSectionId: existingSectionId,\n  sectionExists: !!existingSectionId,\n  currentSections: sections,\n  totalSections: sections.length,\n  debug: { allMultiChannelSections, targetTitle }\n};"
      },
      "id": "7b6728a6-dc87-45db-9986-34dcfc33650b",
      "name": "Check Existing Section",
      "type": "n8n-nodes-base.code",
      "position": [
        3792,
        -160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "section-exists",
              "leftValue": "={{ $json.sectionExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c65092ee-5e88-4f49-8f03-de7ef9334543",
      "name": "Section Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        4016,
        -160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.googleapis.com/youtube/v3/channelSections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet,contentDetails\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.existingSectionId }}\",\n  \"snippet\": {\n    \"type\": \"multipleChannels\",\n    \"title\": \"{{ $json.sectionTitle }}\",\n    \"position\": {{ $json.targetPosition }}\n  },\n  \"contentDetails\": {\n    \"channels\": {{ JSON.stringify($json.featuredChannels) }}\n  }\n}",
        "options": {}
      },
      "id": "4ab45540-d1f5-4088-9f63-40884fb0eeea",
      "name": "Update Section",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4240,
        -256
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "LZbKs6ZEc2SEt766",
          "name": "YouTube Account Dollenable"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/channelSections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet,contentDetails\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"type\": \"multipleChannels\",\n    \"title\": \"{{ $json.sectionTitle }}\",\n    \"position\": {{ $json.targetPosition }}\n  },\n  \"contentDetails\": {\n    \"channels\": {{ JSON.stringify($json.featuredChannels) }}\n  }\n}",
        "options": {}
      },
      "id": "29137319-b22f-4e4b-b98e-99cb439a917c",
      "name": "Insert Section",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4240,
        -64
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "LZbKs6ZEc2SEt766",
          "name": "YouTube Account Dollenable"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByPosition",
        "options": {}
      },
      "id": "a640e97e-2e1a-42ec-b2e5-899a32791a04",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        4464,
        -160
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channelSections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet,contentDetails\",\n  \"mine\": \"true\"\n}",
        "options": {}
      },
      "id": "20a7ed97-8934-416b-b1a7-c5f412fb31d7",
      "name": "Verify Sections",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4688,
        -160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "LZbKs6ZEc2SEt766",
          "name": "YouTube Account Dollenable"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get configuration and verification results\nconst config = $('Set Configuration').first().json;\nconst checkResult = $('Check Existing Section').first().json;\nconst sections = $input.first().json.items || [];\n\n// Helper functions (same as Check Existing Section)\nconst isMultipleChannels = (type) => type?.toLowerCase() === 'multiplechannels';\nconst normalizeTitle = (title) => (title || '').trim().toLowerCase();\nconst targetTitle = normalizeTitle(config.sectionTitle);\n\n// Find the featured channels section\nlet featuredSection = null;\nfor (const section of sections) {\n  if (isMultipleChannels(section.snippet?.type) && \n      normalizeTitle(section.snippet?.title) === targetTitle) {\n    featuredSection = section;\n    break;\n  }\n}\n\n// Validate the section\nconst validation = {\n  success: false,\n  sectionFound: false,\n  positionCorrect: false,\n  allChannelsPresent: false,\n  orderCorrect: false,\n  missingChannels: [],\n  extraChannels: [],\n  actualOrder: [],\n  expectedOrder: config.featuredChannels\n};\n\nif (featuredSection) {\n  validation.sectionFound = true;\n  validation.positionCorrect = featuredSection.snippet?.position === config.targetPosition;\n  \n  const actualChannels = featuredSection.contentDetails?.channels || [];\n  validation.actualOrder = actualChannels;\n  \n  // Check for missing channels\n  for (const channelId of config.featuredChannels) {\n    if (!actualChannels.includes(channelId)) {\n      validation.missingChannels.push(channelId);\n    }\n  }\n  \n  // Check for extra channels (not in config)\n  for (const channelId of actualChannels) {\n    if (!config.featuredChannels.includes(channelId)) {\n      validation.extraChannels.push(channelId);\n    }\n  }\n  \n  validation.allChannelsPresent = validation.missingChannels.length === 0;\n  \n  // Check order\n  validation.orderCorrect = JSON.stringify(actualChannels) === JSON.stringify(config.featuredChannels);\n  \n  // Overall success\n  validation.success = validation.sectionFound && \n                       validation.positionCorrect && \n                       validation.allChannelsPresent && \n                       validation.orderCorrect;\n}\n\n// Build report\nconst report = {\n  status: validation.success ? 'SUCCESS' : 'PARTIAL',\n  channel: {\n    id: config.channelId,\n    title: config.channelTitle\n  },\n  action: checkResult.sectionExists ? 'UPDATED' : 'CREATED',\n  section: {\n    title: config.sectionTitle,\n    targetPosition: config.targetPosition,\n    actualPosition: featuredSection?.snippet?.position ?? 'N/A'\n  },\n  channels: {\n    expected: config.featuredChannels.length,\n    actual: validation.actualOrder.length,\n    expectedIds: config.featuredChannels,\n    actualIds: validation.actualOrder\n  },\n  validation: validation,\n  summary: []\n};\n\n// Build summary messages\nif (validation.success) {\n  report.summary.push('All checks passed!');\n  report.summary.push(`\"${config.sectionTitle}\" section is at position ${config.targetPosition} (first row)`);\n  report.summary.push(`All ${config.featuredChannels.length} channels are present in the correct order`);\n} else {\n  if (!validation.sectionFound) {\n    report.summary.push('ERROR: Section not found after update!');\n  }\n  if (!validation.positionCorrect) {\n    report.summary.push(`WARNING: Section is at position ${featuredSection?.snippet?.position}, expected ${config.targetPosition}`);\n  }\n  if (validation.missingChannels.length > 0) {\n    report.summary.push(`WARNING: Missing channels: ${validation.missingChannels.join(', ')}`);\n  }\n  if (validation.extraChannels.length > 0) {\n    report.summary.push(`NOTE: Extra channels found: ${validation.extraChannels.join(', ')}`);\n  }\n  if (!validation.orderCorrect && validation.allChannelsPresent) {\n    report.summary.push('WARNING: Channels are present but not in the expected order');\n  }\n}\n\nreturn report;"
      },
      "id": "0bf36bd6-d810-41fa-8ac6-73c5de8ddba6",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "position": [
        4912,
        -160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Cultured Corner 🍷 - Personal Version\n\n**Sets up \"Cultured Corner 🍷\" as the first row.**\n\n### Featured Channels (in order)\n\n1. Mechenable - UC434hYDRQ_tzPUtSUAKNxwA\n2. Jueguenable - UCEH0sxRdQsy-y6-I-7V0pvw\n3. Dollenable - UCvF_vV9iGZowLL_SxmKJ7_Q\n4. Legoenable - UCXhYzdDMIFpKWJgY2PRpfnQ\n5. Posenable - UCG2lQGYhvB9MdKiPZK7_XKQ\n6. Statuenable - UC306rH2OGwvmuI1E-I3SsHg\n\n### Configuration\n\n- **Section**: Cultured Corner 🍷\n- **Position**: 0 (first row)\n- **Channels**: 6\n\n### Important!\n\n**Remove YOUR channel** from the list\nbefore running - you can't feature yourself!\n\nEdit \"Set Configuration\" → featuredChannels\n\n### Ready to Run!\n\nAll channel IDs are pre-configured.\nJust click \"Execute Workflow\"",
        "height": 720,
        "width": 460
      },
      "id": "a3981648-0009-4aa3-b577-d1d8b9736b82",
      "name": "Sticky Note - Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        -400
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get My Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Channel": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Get Current Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Sections": {
      "main": [
        [
          {
            "node": "Check Existing Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Section": {
      "main": [
        [
          {
            "node": "Section Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Exists?": {
      "main": [
        [
          {
            "node": "Update Section",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Section": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Section": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Verify Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Sections": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "28bbfdfc971df976a30763a80880783b0da6d49b0f9e1c35d17278160b42ad72"
  }
}