YouTube Featured Channels Updater/template.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "550fc938-4554-4d55-8f85-07d1cdb321f7",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        480,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet\",\n  \"mine\": \"true\"\n}",
        "options": {}
      },
      "id": "616179e2-596d-42f1-80e0-56915414782f",
      "name": "Get My Channel",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        700,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YouTube OAuth2 Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "channel-id",
              "name": "channelId",
              "type": "string",
              "value": "={{ $json.items[0].id }}"
            },
            {
              "id": "channel-title",
              "name": "channelTitle",
              "type": "string",
              "value": "={{ $json.items[0].snippet.title }}"
            },
            {
              "id": "section-title",
              "name": "sectionTitle",
              "type": "string",
              "value": "Featured Channels"
            },
            {
              "id": "featured-channels",
              "name": "featuredChannels",
              "type": "array",
              "value": "={{ [\n  \"UC434hYDRQ_tzPUtSUAKNxwA\",\n  \"UCEH0sxRdQsy-y6-I-7V0pvw\",\n  \"UCvF_vV9iGZowLL_SxmKJ7_Q\",\n  \"UCXhYzdDMIFpKWJgY2PRpfnQ\",\n  \"UCG2lQGYhvB9MdKiPZK7_XKQ\",\n  \"UC306rH2OGwvmuI1E-I3SsHg\"\n] }}"
            },
            {
              "id": "target-position",
              "name": "targetPosition",
              "type": "number",
              "value": 0
            }
          ]
        },
        "options": {}
      },
      "id": "1e092a92-ef92-4960-beb4-25bcbd57f9fa",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        920,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channelSections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet,contentDetails\",\n  \"mine\": \"true\"\n}",
        "options": {}
      },
      "id": "716179e2-596d-42f1-80e0-56915414782g",
      "name": "Get Current Sections",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1140,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YouTube OAuth2 Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find existing Featured Channels section\nconst config = $('Set Configuration').first().json;\nconst sections = $input.first().json.items || [];\n\n// Helper to check if type is multipleChannels (case-insensitive)\nconst isMultipleChannels = (type) => type?.toLowerCase() === 'multiplechannels';\n\n// Helper to normalize title for comparison\nconst normalizeTitle = (title) => (title || '').trim().toLowerCase();\n\n// Look for an existing multipleChannels section with matching title\nlet existingSection = null;\nlet existingSectionId = null;\nconst targetTitle = normalizeTitle(config.sectionTitle);\n\nfor (const section of sections) {\n  if (isMultipleChannels(section.snippet?.type)) {\n    const sectionTitle = normalizeTitle(section.snippet?.title);\n    if (sectionTitle === targetTitle) {\n      existingSection = section;\n      existingSectionId = section.id;\n      break;\n    }\n  }\n}\n\n// If no exact match found, look for any multipleChannels section at target position\nif (!existingSection) {\n  for (const section of sections) {\n    if (isMultipleChannels(section.snippet?.type) && \n        section.snippet?.position === config.targetPosition) {\n      existingSection = section;\n      existingSectionId = section.id;\n      break;\n    }\n  }\n}\n\n// Debug: list all multipleChannels sections found\nconst allMultiChannelSections = sections\n  .filter(s => isMultipleChannels(s.snippet?.type))\n  .map(s => ({ id: s.id, title: s.snippet?.title, position: s.snippet?.position }));\n\nreturn {\n  channelId: config.channelId,\n  channelTitle: config.channelTitle,\n  sectionTitle: config.sectionTitle,\n  featuredChannels: config.featuredChannels,\n  targetPosition: config.targetPosition,\n  existingSection: existingSection,\n  existingSectionId: existingSectionId,\n  sectionExists: !!existingSectionId,\n  currentSections: sections,\n  totalSections: sections.length,\n  debug: { allMultiChannelSections, targetTitle }\n};"
      },
      "id": "816179e2-596d-42f1-80e0-56915414782h",
      "name": "Check Existing Section",
      "type": "n8n-nodes-base.code",
      "position": [
        1360,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "section-exists",
              "leftValue": "={{ $json.sectionExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "916179e2-596d-42f1-80e0-56915414782i",
      "name": "Section Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        1580,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.googleapis.com/youtube/v3/channelSections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet,contentDetails\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.existingSectionId }}\",\n  \"snippet\": {\n    \"type\": \"multipleChannels\",\n    \"title\": \"{{ $json.sectionTitle }}\",\n    \"position\": {{ $json.targetPosition }}\n  },\n  \"contentDetails\": {\n    \"channels\": {{ JSON.stringify($json.featuredChannels) }}\n  }\n}",
        "options": {}
      },
      "id": "a16179e2-596d-42f1-80e0-56915414782j",
      "name": "Update Section",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1800,
        300
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YouTube OAuth2 Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/channelSections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet,contentDetails\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"type\": \"multipleChannels\",\n    \"title\": \"{{ $json.sectionTitle }}\",\n    \"position\": {{ $json.targetPosition }}\n  },\n  \"contentDetails\": {\n    \"channels\": {{ JSON.stringify($json.featuredChannels) }}\n  }\n}",
        "options": {}
      },
      "id": "b16179e2-596d-42f1-80e0-56915414782k",
      "name": "Insert Section",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1800,
        500
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YouTube OAuth2 Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByPosition",
        "options": {}
      },
      "id": "c16179e2-596d-42f1-80e0-56915414782l",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        2020,
        400
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channelSections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet,contentDetails\",\n  \"mine\": \"true\"\n}",
        "options": {}
      },
      "id": "d16179e2-596d-42f1-80e0-56915414782m",
      "name": "Verify Sections",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YouTube OAuth2 Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get configuration and verification results\nconst config = $('Set Configuration').first().json;\nconst checkResult = $('Check Existing Section').first().json;\nconst sections = $input.first().json.items || [];\n\n// Helper functions (same as Check Existing Section)\nconst isMultipleChannels = (type) => type?.toLowerCase() === 'multiplechannels';\nconst normalizeTitle = (title) => (title || '').trim().toLowerCase();\nconst targetTitle = normalizeTitle(config.sectionTitle);\n\n// Find the featured channels section\nlet featuredSection = null;\nfor (const section of sections) {\n  if (isMultipleChannels(section.snippet?.type) && \n      normalizeTitle(section.snippet?.title) === targetTitle) {\n    featuredSection = section;\n    break;\n  }\n}\n\n// Validate the section\nconst validation = {\n  success: false,\n  sectionFound: false,\n  positionCorrect: false,\n  allChannelsPresent: false,\n  orderCorrect: false,\n  missingChannels: [],\n  extraChannels: [],\n  actualOrder: [],\n  expectedOrder: config.featuredChannels\n};\n\nif (featuredSection) {\n  validation.sectionFound = true;\n  validation.positionCorrect = featuredSection.snippet?.position === config.targetPosition;\n  \n  const actualChannels = featuredSection.contentDetails?.channels || [];\n  validation.actualOrder = actualChannels;\n  \n  // Check for missing channels\n  for (const channelId of config.featuredChannels) {\n    if (!actualChannels.includes(channelId)) {\n      validation.missingChannels.push(channelId);\n    }\n  }\n  \n  // Check for extra channels (not in config)\n  for (const channelId of actualChannels) {\n    if (!config.featuredChannels.includes(channelId)) {\n      validation.extraChannels.push(channelId);\n    }\n  }\n  \n  validation.allChannelsPresent = validation.missingChannels.length === 0;\n  \n  // Check order\n  validation.orderCorrect = JSON.stringify(actualChannels) === JSON.stringify(config.featuredChannels);\n  \n  // Overall success\n  validation.success = validation.sectionFound && \n                       validation.positionCorrect && \n                       validation.allChannelsPresent && \n                       validation.orderCorrect;\n}\n\n// Build report\nconst report = {\n  status: validation.success ? 'SUCCESS' : 'PARTIAL',\n  channel: {\n    id: config.channelId,\n    title: config.channelTitle\n  },\n  action: checkResult.sectionExists ? 'UPDATED' : 'CREATED',\n  section: {\n    title: config.sectionTitle,\n    targetPosition: config.targetPosition,\n    actualPosition: featuredSection?.snippet?.position ?? 'N/A'\n  },\n  channels: {\n    expected: config.featuredChannels.length,\n    actual: validation.actualOrder.length,\n    expectedIds: config.featuredChannels,\n    actualIds: validation.actualOrder\n  },\n  validation: validation,\n  summary: []\n};\n\n// Build summary messages\nif (validation.success) {\n  report.summary.push('All checks passed!');\n  report.summary.push(`Featured Channels section is at position ${config.targetPosition} (first row)`);\n  report.summary.push(`All ${config.featuredChannels.length} channels are present in the correct order`);\n} else {\n  if (!validation.sectionFound) {\n    report.summary.push('ERROR: Featured Channels section not found after update!');\n  }\n  if (!validation.positionCorrect) {\n    report.summary.push(`WARNING: Section is at position ${featuredSection?.snippet?.position}, expected ${config.targetPosition}`);\n  }\n  if (validation.missingChannels.length > 0) {\n    report.summary.push(`WARNING: Missing channels: ${validation.missingChannels.join(', ')}`);\n  }\n  if (validation.extraChannels.length > 0) {\n    report.summary.push(`NOTE: Extra channels found: ${validation.extraChannels.join(', ')}`);\n  }\n  if (!validation.orderCorrect && validation.allChannelsPresent) {\n    report.summary.push('WARNING: Channels are present but not in the expected order');\n  }\n}\n\nreturn report;"
      },
      "id": "e16179e2-596d-42f1-80e0-56915414782n",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "position": [
        2460,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## YouTube Featured Channels Updater\n\n**Set your YouTube channel's home tab layout with featured channels as the first row.**\n\n### Default Channels (in order)\n\n1. Mechenable - UC434hYDRQ_tzPUtSUAKNxwA\n2. Jueguenable - UCEH0sxRdQsy-y6-I-7V0pvw\n3. Dollenable - UCvF_vV9iGZowLL_SxmKJ7_Q\n4. Legoenable - UCXhYzdDMIFpKWJgY2PRpfnQ\n5. Posenable - UCG2lQGYhvB9MdKiPZK7_XKQ\n6. Statuenable - UC306rH2OGwvmuI1E-I3SsHg\n\n### Setup Steps\n\n1. **Add YouTube OAuth2 Credentials**\n   - Connect credentials in all HTTP Request nodes\n\n2. **Remove Your Own Channel**\n   - Edit \"Set Configuration\" node\n   - Remove YOUR channel from the list\n   - (You can't feature yourself!)\n\n3. **Run the Workflow**\n   - Click \"Execute Workflow\"\n   - Check the report for success/warnings\n\n### Important Notes\n\n- **Max 10 sections** per channel\n- **Cannot include your own channel**\n- **No duplicate IDs allowed**\n- **Order matters**: Channels appear in order\n- **Position 0** = First row on home tab",
        "height": 800,
        "width": 500
      },
      "id": "f16179e2-596d-42f1-80e0-56915414782o",
      "name": "Sticky Note - Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        160
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get My Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Channel": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Get Current Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Sections": {
      "main": [
        [
          {
            "node": "Check Existing Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Section": {
      "main": [
        [
          {
            "node": "Section Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Exists?": {
      "main": [
        [
          {
            "node": "Update Section",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Section": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Section": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Verify Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Sections": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "28bbfdfc971df976a30763a80880783b0da6d49b0f9e1c35d17278160b42ad72"
  }
}
