Error Workflows/Discord Notifier/template-v2-simple.json
{
  "name": "Error Workflow - Discord Notifier (Simple)",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger-id",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-webhook",
              "name": "webhookUrl",
              "value": "YOUR_DISCORD_WEBHOOK_URL",
              "type": "string"
            },
            {
              "id": "config-mention",
              "name": "mentionRole",
              "value": "",
              "type": "string"
            },
            {
              "id": "config-n8n-url",
              "name": "n8nBaseUrl",
              "value": "https://your-n8n-instance.com",
              "type": "string"
            },
            {
              "id": "config-env",
              "name": "environment",
              "value": "production",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-node-id",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration').item.json.webhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"n8n Alerts\",\n  \"avatar_url\": \"https://n8n.io/favicon.ico\",\n  \"content\": \"{{ $('Configuration').item.json.mentionRole }}\",\n  \"embeds\": [\n    {\n      \"title\": \"🚨 Workflow Error Alert\",\n      \"description\": \"A workflow has failed and requires attention.\",\n      \"color\": 15548997,\n      \"fields\": [\n        {\n          \"name\": \"Workflow\",\n          \"value\": \"{{ $('Error Trigger').item.json.workflow.name || 'Unknown' }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Environment\",\n          \"value\": \"{{ $('Configuration').item.json.environment }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Failed Node\",\n          \"value\": \"{{ $('Error Trigger').item.json.execution.lastNodeExecuted || 'Unknown' }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Execution Mode\",\n          \"value\": \"{{ $('Error Trigger').item.json.execution.mode || 'unknown' }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Error Message\",\n          \"value\": \"```{{ $('Error Trigger').item.json.execution.error.message || 'Unknown error' }}```\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Execution Link\",\n          \"value\": \"[View Execution]({{ $('Configuration').item.json.n8nBaseUrl }}/workflow/{{ $('Error Trigger').item.json.workflow.id }}/executions/{{ $('Error Trigger').item.json.execution.id }})\",\n          \"inline\": false\n        }\n      ],\n      \"footer\": {\n        \"text\": \"Execution ID: {{ $('Error Trigger').item.json.execution.id }}\"\n      },\n      \"timestamp\": \"{{ $now.toISO() }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "discord-node-id",
      "name": "Send Discord Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Error Workflow - Discord Notifier (Simple)\n\n**Simplified version** that uses direct error data from Error Trigger without processing.\n\n### Setup\n\n1. **Create Discord Webhook**:\n   - Server Settings → Integrations → Webhooks\n   - New Webhook → Copy URL\n\n2. **Update Configuration node**:\n   - `webhookUrl`: Your Discord webhook URL\n   - `mentionRole`: Role to ping (e.g., `<@&123456>`)\n   - `n8nBaseUrl`: Your n8n instance URL  \n   - `environment`: production/staging\n\n3. **Link to workflows**:\n   - Open workflow to monitor\n   - Settings → Error Workflow\n   - Select this workflow\n\n### What's Different\n\nThis version directly uses Error Trigger data instead of extracting via Code node:\n- More reliable\n- Shows actual error information\n- No \"Unknown\" values\n- Simpler to debug\n\n### Alert Shows\n- Workflow name\n- Failed node name\n- Error message\n- Execution link\n- Timestamp\n- Color-coded embed",
        "height": 540,
        "width": 700
      },
      "id": "sticky-instructions",
      "name": "Sticky Note - Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        0
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Send Discord Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
