YouTube Channel Subscriber/template.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "550fc938-4554-4d55-8f85-07d1cdb321f8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        480,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"id,snippet\",\n  \"mine\": \"true\"\n}",
        "options": {}
      },
      "id": "616179e2-596d-42f1-80e0-56915414783f",
      "name": "Get My Channel",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        700,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YouTube OAuth2 Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "my-channel-id",
              "name": "myChannelId",
              "type": "string",
              "value": "={{ $json.items[0].id }}"
            },
            {
              "id": "my-channel-title",
              "name": "myChannelTitle",
              "type": "string",
              "value": "={{ $json.items[0].snippet.title }}"
            },
            {
              "id": "channels-to-subscribe",
              "name": "channelsToSubscribe",
              "type": "array",
              "value": "={{ [\n  { \"id\": \"UC434hYDRQ_tzPUtSUAKNxwA\", \"name\": \"Mechenable\" },\n  { \"id\": \"UCEH0sxRdQsy-y6-I-7V0pvw\", \"name\": \"Jueguenable\" },\n  { \"id\": \"UCvF_vV9iGZowLL_SxmKJ7_Q\", \"name\": \"Dollenable\" },\n  { \"id\": \"UCXhYzdDMIFpKWJgY2PRpfnQ\", \"name\": \"Legoenable\" },\n  { \"id\": \"UCG2lQGYhvB9MdKiPZK7_XKQ\", \"name\": \"Posenable\" },\n  { \"id\": \"UC306rH2OGwvmuI1E-I3SsHg\", \"name\": \"Statuenable\" }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e092a92-ef92-4960-beb4-25bcbd57f9fb",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        920,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Filter out the calling channel (can't subscribe to yourself)\nconst config = $input.first().json;\nconst myChannelId = config.myChannelId;\nconst myChannelTitle = config.myChannelTitle;\nconst allChannels = config.channelsToSubscribe;\n\n// Filter out own channel\nconst channelsToSubscribe = allChannels.filter(ch => ch.id !== myChannelId);\n\n// Return each channel as a separate item for processing\nreturn channelsToSubscribe.map(channel => ({\n  json: {\n    channelId: channel.id,\n    channelName: channel.name,\n    myChannelId: myChannelId,\n    myChannelTitle: myChannelTitle,\n    totalToSubscribe: channelsToSubscribe.length\n  }\n}));"
      },
      "id": "816179e2-596d-42f1-80e0-56915414783h",
      "name": "Filter Channels",
      "type": "n8n-nodes-base.code",
      "position": [
        1140,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/subscriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"snippet\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"resourceId\": {\n      \"kind\": \"youtube#channel\",\n      \"channelId\": \"{{ $json.channelId }}\"\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "a16179e2-596d-42f1-80e0-56915414783j",
      "name": "Subscribe to Channels",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1360,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YouTube OAuth2 Account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process all subscription results\nconst items = $input.all();\nconst config = $('Set Configuration').first().json;\nconst filterData = $('Filter Channels').all();\n\nconst results = items.map((item, index) => {\n  const input = item.json;\n  const channelData = filterData[index]?.json || {};\n  const channelName = channelData.channelName || `Channel ${index + 1}`;\n  const channelId = channelData.channelId || 'unknown';\n  \n  let status = 'UNKNOWN';\n  let message = '';\n  \n  if (input.statusCode === 200) {\n    status = 'SUBSCRIBED';\n    message = `Successfully subscribed to ${channelName}`;\n  } else if (input.body?.error?.errors?.[0]?.reason === 'subscriptionDuplicate') {\n    status = 'ALREADY_SUBSCRIBED';\n    message = `Already subscribed to ${channelName}`;\n  } else if (input.body?.error?.errors?.[0]?.reason === 'subscriptionForbidden') {\n    status = 'FORBIDDEN';\n    message = input.body?.error?.message || 'Subscription forbidden';\n  } else if (input.statusCode) {\n    status = 'ERROR';\n    message = input.body?.error?.message || `HTTP ${input.statusCode}`;\n  }\n  \n  return {\n    channelId,\n    channelName,\n    status,\n    message,\n    statusCode: input.statusCode\n  };\n});\n\nconst subscribed = results.filter(r => r.status === 'SUBSCRIBED');\nconst alreadySubscribed = results.filter(r => r.status === 'ALREADY_SUBSCRIBED');\nconst errors = results.filter(r => r.status === 'ERROR' || r.status === 'FORBIDDEN');\n\nconst report = {\n  summary: {\n    callingChannel: config.myChannelTitle,\n    callingChannelId: config.myChannelId,\n    totalProcessed: results.length,\n    newSubscriptions: subscribed.length,\n    alreadySubscribed: alreadySubscribed.length,\n    errors: errors.length\n  },\n  results: results,\n  details: {\n    newlySubscribed: subscribed.map(r => r.channelName),\n    alreadySubscribed: alreadySubscribed.map(r => r.channelName),\n    failed: errors.map(r => `${r.channelName}: ${r.message}`)\n  }\n};\n\n// Build summary message\nlet summaryMessage = `Subscription complete for ${config.myChannelTitle}:\\n`;\nsummaryMessage += `- New subscriptions: ${subscribed.length}\\n`;\nsummaryMessage += `- Already subscribed: ${alreadySubscribed.length}\\n`;\nif (errors.length > 0) {\n  summaryMessage += `- Errors: ${errors.length}\\n`;\n}\n\nreport.summaryMessage = summaryMessage;\n\nreturn report;"
      },
      "id": "d16179e2-596d-42f1-80e0-56915414783m",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "position": [
        1580,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## YouTube Channel Subscriber\n\n**Subscribe to a predefined list of channels, automatically excluding yourself.**\n\n### Default Channels\n\n1. Mechenable - UC434hYDRQ_tzPUtSUAKNxwA\n2. Jueguenable - UCEH0sxRdQsy-y6-I-7V0pvw\n3. Dollenable - UCvF_vV9iGZowLL_SxmKJ7_Q\n4. Legoenable - UCXhYzdDMIFpKWJgY2PRpfnQ\n5. Posenable - UCG2lQGYhvB9MdKiPZK7_XKQ\n6. Statuenable - UC306rH2OGwvmuI1E-I3SsHg\n\n### How It Works\n\n1. Gets your channel ID\n2. Filters out YOUR channel (can't subscribe to yourself)\n3. Subscribes to all channels (2s delay between each)\n4. Handles duplicates gracefully\n5. Generates summary report\n\n### Setup\n\n1. Connect YouTube OAuth2 credentials\n2. Click \"Execute Workflow\"\n3. Check report for results\n\n### Quota Cost\n\n~50 units per subscription\n(~250 units total for 5 channels)",
        "height": 580,
        "width": 420
      },
      "id": "f16179e2-596d-42f1-80e0-56915414783o",
      "name": "Sticky Note - Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        160
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get My Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Channel": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Filter Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Channels": {
      "main": [
        [
          {
            "node": "Subscribe to Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subscribe to Channels": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "28bbfdfc971df976a30763a80880783b0da6d49b0f9e1c35d17278160b42ad72"
  }
}
