Auto-Translate YouTube Video (Loop Lookup Ver)/template.json
{
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "id": "52e0358d-4cf8-4a2d-8e69-b00df4af7bc9",
        "name": "Google Gemini Chat Model1",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          1152,
          128
        ],
        "typeVersion": 1,
        "credentials": {
          "googlePalmApi": {
            "id": "AA17xDpfDPBIXegL",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "chat"
        },
        "id": "d7e3349b-d12d-4b00-8908-10585317ebc7",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          1280,
          128
        ],
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n\t\"title\": \"object\",\n    \"description\": \"object\",\n    \"tags\": \"object\"\n}"
        },
        "id": "ffaf395a-83b3-4911-a623-5bc0f36ef064",
        "name": "Structured Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "position": [
          1408,
          128
        ],
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "content": "## Set and Retrieve Information",
          "height": 304,
          "width": 420,
          "color": 7
        },
        "id": "aef6f33f-668c-4b64-ba32-d4906a4f5234",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          430,
          -240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ffd3b7ab-4ac6-4c71-8ee1-a6c93732a701",
                "name": "URL",
                "type": "string",
                "value": "="
              }
            ]
          },
          "options": {}
        },
        "id": "c479f563-7f14-4fe9-a1fc-1111d7209cd7",
        "name": "Output URL",
        "type": "n8n-nodes-base.set",
        "position": [
          32,
          -288
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## YouTube Video Title and Description Translator\n\nIf you want to reach a wider audience, having your video title and description in multiple languages can help you connect with more viewers.\n\n### Requirements\n\n- YouTube Auth (In the **Fetch Video Information** node)\n- Google Gemini (PaLM) API (In the **AI Agent Translator** node)\n\n### How to Use\n\n- (First time only) Set up credentials for your user in the YouTube nodes and HTTP node.\n- Create a base with the field \"postId\".\n- Edit the node \"Define Languages\".\n  - Update the languages and the localizations you want to use.\n- Click the Execute Workflow button.\n- Enjoy your translated video titles and descriptions!\n\n\n",
          "height": 560,
          "width": 678
        },
        "id": "6f261b26-a3b8-4517-b91d-ed8c94c2d9cf",
        "name": "Sticky Note12",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2096,
          -272
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "video",
          "operation": "get",
          "videoId": "={{ $('Split Out').item.json['id.videoId'] }}",
          "options": {}
        },
        "id": "6580c26b-6135-40fc-b243-188d5d3fa4e8",
        "name": "Fetches video information",
        "type": "n8n-nodes-base.youTube",
        "position": [
          480,
          -96
        ],
        "typeVersion": 1,
        "credentials": {
          "youTubeOAuth2Api": {
            "id": "LOC6v46faIXzn4Ws",
            "name": "YouTube account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get default language from the incoming item\nconst defaultLang = $input.first().json.snippet.defaultLanguage ?? 'en';\n\n// Get your mapping of name -> code from the node named: When clicking ‘Execute workflow’\nconst nameToCode = $('Define Languages').first().json.languages || {};\n\n// Build result excluding the default language\nconst entries = Object.entries(nameToCode).filter(([, code]) => code !== defaultLang);\n\nconst languages = entries.map(([name]) => name);\nconst keys = Object.fromEntries(entries);\n\n// Return a single item with the desired JSON\nreturn [\n  {\n    json: {\n      defaultLang,   // e.g. defaults to en\n      languages,     // e.g. [\"spanish\",\"japanese\"]\n      keys           // e.g. { spanish: \"es\", japanese: \"ja\" }\n    }\n  }\n];"
        },
        "id": "23c204f9-1aa1-4319-8c82-93516cd4430a",
        "name": "Check languages to translate",
        "type": "n8n-nodes-base.code",
        "position": [
          704,
          -96
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Translate the youtube video which has a default language of {{ $json.defaultLang }}, to {{ $json.languages }}.\n\nThis is the title: {{ $('Fetches video information').item.json.snippet.title }}\n\nand the description: {{ $('Fetches video information').item.json.snippet.description }}\n\n\nAlso append my social media links, \"Follow me on\" translate it to the proper language:\n\nFollow me on:\n- Linktree: https://linktr.ee/YourUser\n- MFC: https://myfigurecollection.net/profile/YourUser\n- Instagram: https://instagram.com/YourUser\n- Twitter: https://x.com/YourUser\n\nYou may suggest tags \n\nAnd return only the translated languages in json format, with this structure:\n\n{\n      \"LANGUAGE KEY 1 in 639-1 language codes (lowercase, 2-letter\": { \"title\": \"Example\", \"description\": \"Example desc\" },\n      \"LANGUAGE KEY 2 in 639-1 language codes (lowercase, 2-letter\": { \"title\": \"Ejemplo\", \"description\": \"Desc Ejemplo\" },\n}",
          "hasOutputParser": true,
          "options": {}
        },
        "id": "cc130dfb-24da-403b-9bcf-119f52e19b11",
        "name": "AI Agent Translator",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "maxTries": 2,
        "position": [
          1200,
          -96
        ],
        "retryOnFail": true,
        "typeVersion": 2.2,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "https://www.googleapis.com/youtube/v3/videos?part=snippet,localizations",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "youTubeOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n{\nid: $(\"Fetches video information\").item.json.id,\nsnippet: {\ndefaultLanguage: $('Check languages to translate').item.json.defaultLang,\ntitle: $('Fetches video information').item.json.snippet.title,\ndescription: $('Fetches video information').item.json.snippet.description,\ncategoryId: $('Fetches video information').item.json.snippet.categoryId,\ntags: $('Fetches video information').item.json.snippet.tags\n},\nlocalizations: $json.output\n}\n}}",
          "options": {}
        },
        "id": "a6f36b3b-52f8-44cb-aaba-e82288f6c5d7",
        "name": "Updates Video Localization",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1760,
          -96
        ],
        "typeVersion": 4.2,
        "credentials": {
          "youTubeOAuth2Api": {
            "id": "pUBXAvMPWo0DlxB2",
            "name": "YouTube Account Mechenable"
          }
        }
      },
      {
        "parameters": {
          "content": "## Language Translation",
          "height": 304,
          "width": 532,
          "color": 7
        },
        "id": "61783771-0ee9-4621-a014-6561b3651920",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1054,
          -240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Update Localization and Store Progress",
          "height": 304,
          "width": 580,
          "color": 7
        },
        "id": "4d08da2a-3c82-4338-9885-324cda39bfc9",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1680,
          -240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "51555efc-1116-409a-a4d0-43e9dd86389b",
        "name": "When clicking 'Execute workflow'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -1088,
          28
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -192,
          28
        ],
        "id": "a352b382-581e-4a36-9c21-6691ba597179",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "resource": "video",
          "limit": 15,
          "filters": {},
          "options": {
            "order": "date"
          }
        },
        "id": "bfa05d7e-0ec9-429b-a242-21558b2d9e78",
        "name": "Get All Videos",
        "type": "n8n-nodes-base.youTube",
        "position": [
          -640,
          28
        ],
        "typeVersion": 1,
        "credentials": {
          "youTubeOAuth2Api": {
            "id": "LOC6v46faIXzn4Ws",
            "name": "YouTube account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "7LcOeZDDaikW6moz",
            "mode": "list",
            "cachedResultName": "YouTube Translation",
            "cachedResultUrl": "/projects/vZdjtqHcrLoO32Ib/datatables/7LcOeZDDaikW6moz"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "postId",
                "keyValue": "={{ $json['id.videoId'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          32,
          -96
        ],
        "id": "6ac5c86e-2827-4389-9220-923fa1b786d5",
        "name": "Get row(s)",
        "alwaysOutputData": true,
        "executeOnce": true
      },
      {
        "parameters": {
          "fieldToSplitOut": "id.videoId",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -416,
          28
        ],
        "id": "890c5a2f-77e8-4c8b-b16d-c6f70cddf3ba",
        "name": "Split Out"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "7LcOeZDDaikW6moz",
            "mode": "list",
            "cachedResultName": "YouTube Translation",
            "cachedResultUrl": "/projects/vZdjtqHcrLoO32Ib/datatables/7LcOeZDDaikW6moz"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "postId": "={{ $json.id }}"
            },
            "matchingColumns": [
              "postId"
            ],
            "schema": [
              {
                "id": "postId",
                "displayName": "postId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          2112,
          -96
        ],
        "id": "cffb05cd-6a7a-40f7-a106-5f71545430dc",
        "name": "Insert row"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "eab5894a-31d7-43f4-8866-104c416eed3f",
                "leftValue": "={{ $json.postId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          256,
          -96
        ],
        "id": "1a0fe8f5-fb5a-4980-b0f2-3890273f3d10",
        "name": "If Doesn't Exists"
      },
      {
        "parameters": {
          "amount": 15
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          928,
          -96
        ],
        "id": "8e218d86-acec-4cf7-aaf2-9a12bd928ca9",
        "name": "Wait",
        "webhookId": "63e6e2ac-3726-41f2-bc12-81d9b5c97814"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n  \"languages\": {\n    \"english\": \"en\",\n    \"spanish\": \"es-419\",\n    \"japanese\": \"ja\"\n  }\n}\n",
          "includeOtherFields": true,
          "options": {}
        },
        "id": "37d5c20f-57f1-48a3-ab7f-2f121295a3f4",
        "name": "Define Languages",
        "type": "n8n-nodes-base.set",
        "position": [
          -864,
          28
        ],
        "typeVersion": 3.4
      }
    ],
    "connections": {
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Translator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent Translator",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent Translator",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Fetches video information": {
        "main": [
          [
            {
              "node": "Check languages to translate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check languages to translate": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Translator": {
        "main": [
          [
            {
              "node": "Updates Video Localization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Updates Video Localization": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking 'Execute workflow'": {
        "main": [
          [
            {
              "node": "Define Languages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Output URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Videos": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "If Doesn't Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Doesn't Exists": {
        "main": [
          [
            {
              "node": "Fetches video information",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "AI Agent Translator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Define Languages": {
        "main": [
          [
            {
              "node": "Get All Videos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "28bbfdfc971df976a30763a80880783b0da6d49b0f9e1c35d17278160b42ad72"
    }
  }