Trend Reshare System/03-trend-monitor.json
{
  "meta": {
    "instanceId": "trend-reshare-trend-monitor",
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-672, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [-672, 160],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "config",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "position": [-448, 80],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "nicheKeywords",
              "name": "nicheKeywords",
              "type": "string",
              "value": "doll,dolls,barbie,american girl,fashion doll,action figure,action figures,collectible,marvel,dc,star wars,lego,brick,minifig,minifigure,moc,board game,board games,tabletop,dice,gaming,hasbro,mattel,funko,hot toys"
            },
            {
              "id": "excludeKeywords",
              "name": "excludeKeywords",
              "type": "string",
              "value": "politics,news,sports,crypto,bitcoin,election,stock,weather"
            },
            {
              "id": "airtableBaseId",
              "name": "airtableBaseId",
              "type": "string",
              "value": "YOUR_BASE_ID"
            },
            {
              "id": "trendsTableName",
              "name": "trendsTableName",
              "type": "string",
              "value": "Trends"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "fetch-google-trends",
      "name": "Fetch Google Trends RSS",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-224, 80],
      "parameters": {
        "url": "https://trends.google.com/trending/rss?geo=US",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "id": "parse-xml",
      "name": "Parse XML",
      "type": "n8n-nodes-base.xml",
      "position": [0, 80],
      "parameters": {
        "dataPropertyName": "data",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "extract-items",
      "name": "Extract Trend Items",
      "type": "n8n-nodes-base.code",
      "position": [224, 80],
      "parameters": {
        "jsCode": "const config = $('Configuration').item.json;\nconst nicheKeywords = config.nicheKeywords.toLowerCase().split(',').map(k => k.trim());\nconst excludeKeywords = config.excludeKeywords.toLowerCase().split(',').map(k => k.trim());\n\n// Get the RSS items\nconst rss = $input.item.json.data;\nlet items = [];\n\ntry {\n  // Navigate to the items in the RSS structure\n  if (rss && rss.rss && rss.rss.channel && rss.rss.channel[0] && rss.rss.channel[0].item) {\n    items = rss.rss.channel[0].item;\n  }\n} catch (e) {\n  // If structure is different, try alternative paths\n  if (rss && rss.channel && rss.channel.item) {\n    items = rss.channel.item;\n  }\n}\n\nif (!Array.isArray(items)) {\n  items = items ? [items] : [];\n}\n\nconst results = [];\n\nfor (const item of items) {\n  // Extract title (the trending keyword)\n  let title = '';\n  if (typeof item.title === 'string') {\n    title = item.title;\n  } else if (Array.isArray(item.title)) {\n    title = item.title[0];\n  } else if (item.title && item.title._) {\n    title = item.title._;\n  }\n  \n  const titleLower = title.toLowerCase();\n  \n  // Check for exclude keywords first\n  const hasExcluded = excludeKeywords.some(kw => titleLower.includes(kw));\n  if (hasExcluded) continue;\n  \n  // Check if title matches any niche keywords\n  const matchedKeywords = nicheKeywords.filter(kw => titleLower.includes(kw));\n  \n  if (matchedKeywords.length > 0) {\n    // Determine category based on matched keywords\n    let category = 'general';\n    if (matchedKeywords.some(k => ['doll', 'dolls', 'barbie', 'american girl', 'fashion doll', 'mattel'].includes(k))) {\n      category = 'dolls';\n    } else if (matchedKeywords.some(k => ['action figure', 'action figures', 'collectible', 'marvel', 'dc', 'star wars', 'hot toys', 'funko'].includes(k))) {\n      category = 'figures';\n    } else if (matchedKeywords.some(k => ['lego', 'brick', 'minifig', 'minifigure', 'moc'].includes(k))) {\n      category = 'lego';\n    } else if (matchedKeywords.some(k => ['board game', 'board games', 'tabletop', 'dice', 'gaming'].includes(k))) {\n      category = 'boardgames';\n    }\n    \n    // Extract traffic volume if available\n    let trafficVolume = '';\n    if (item['ht:approx_traffic']) {\n      trafficVolume = Array.isArray(item['ht:approx_traffic']) \n        ? item['ht:approx_traffic'][0] \n        : item['ht:approx_traffic'];\n    }\n    \n    // Extract related queries if available\n    let relatedQueries = '';\n    if (item['ht:news_item']) {\n      const newsItems = Array.isArray(item['ht:news_item']) \n        ? item['ht:news_item'] \n        : [item['ht:news_item']];\n      relatedQueries = newsItems\n        .map(n => n['ht:news_item_title'] ? (Array.isArray(n['ht:news_item_title']) ? n['ht:news_item_title'][0] : n['ht:news_item_title']) : '')\n        .filter(Boolean)\n        .join('; ');\n    }\n    \n    // Create unique trendId using keyword and date\n    const today = new Date().toISOString().split('T')[0];\n    const trendId = `${title.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 30)}_${today}`;\n    \n    results.push({\n      json: {\n        trendId: trendId,\n        keyword: title,\n        source: 'google',\n        category: category,\n        detectedAt: new Date().toISOString(),\n        trafficVolume: trafficVolume,\n        relatedQueries: relatedQueries,\n        matchedKeywords: matchedKeywords.join(', ')\n      }\n    });\n  }\n}\n\n// Return results or empty indicator\nif (results.length === 0) {\n  return [{ json: { noMatches: true, message: 'No niche-relevant trends found' } }];\n}\n\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "check-no-matches",
      "name": "Has Matches?",
      "type": "n8n-nodes-base.if",
      "position": [448, 80],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-matches",
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              },
              "leftValue": "={{ $json.noMatches }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      },
      "typeVersion": 2.2
    },
    {
      "id": "loop-trends",
      "name": "Loop Over Trends",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [672, 0],
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "check-exists",
      "name": "Check If Trend Exists",
      "type": "n8n-nodes-base.airtable",
      "position": [896, 80],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Configuration').item.json.airtableBaseId }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "Trends"
        },
        "operation": "search",
        "filterByFormula": "={trendId}=\"{{ $json.trendId }}\""
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      },
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "id": "if-new-trend",
      "name": "Is New Trend?",
      "type": "n8n-nodes-base.if",
      "position": [1120, 80],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-new",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      },
      "typeVersion": 2.2
    },
    {
      "id": "insert-trend",
      "name": "Save New Trend",
      "type": "n8n-nodes-base.airtable",
      "position": [1344, 0],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Configuration').item.json.airtableBaseId }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "Trends"
        },
        "operation": "create",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "trendId": "={{ $('Loop Over Trends').item.json.trendId }}",
            "keyword": "={{ $('Loop Over Trends').item.json.keyword }}",
            "source": "={{ $('Loop Over Trends').item.json.source }}",
            "category": "={{ $('Loop Over Trends').item.json.category }}",
            "detectedAt": "={{ $('Loop Over Trends').item.json.detectedAt }}",
            "trafficVolume": "={{ $('Loop Over Trends').item.json.trafficVolume }}",
            "relatedQueries": "={{ $('Loop Over Trends').item.json.relatedQueries }}",
            "processed": false
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "position": [672, -192],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "Trend monitoring completed"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "no-trends",
      "name": "No Relevant Trends",
      "type": "n8n-nodes-base.set",
      "position": [672, 192],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "No niche-relevant trends detected this cycle"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "sticky-instructions",
      "name": "Sticky Note - Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-960, -192],
      "parameters": {
        "width": 560,
        "height": 520,
        "content": "## Trend Monitor\n\nMonitors Google Trends RSS feed and filters for niche-relevant trends.\n\n### Niche Categories\n\n- **Dolls**: barbie, american girl, fashion doll, mattel\n- **Figures**: action figure, collectible, marvel, dc, star wars, funko, hot toys\n- **LEGO**: lego, brick, minifig, moc\n- **Board Games**: board game, tabletop, dice, gaming\n\n### Configuration\n\n1. Edit the **nicheKeywords** to add/remove keywords\n2. Edit **excludeKeywords** to filter out unwanted trends\n3. Set your **Airtable Base ID**\n\n### Schedule\n\n- Runs every 12 hours by default\n- Adjust in Schedule Trigger node\n- Use Manual Trigger for testing\n\n### Notes\n\n- Google Trends RSS is free and doesn't require API key\n- Trends are deduplicated by trendId (keyword + date)\n- Only new trends are saved to Airtable"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-fetch",
      "name": "Sticky Note - Fetch",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-256, -80],
      "parameters": {
        "color": 6,
        "width": 680,
        "height": 360,
        "content": "## 1. Fetch & Filter Trends\nFetches Google Trends RSS, parses XML, and filters for niche-relevant keywords."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-store",
      "name": "Sticky Note - Store",
      "type": "n8n-nodes-base.stickyNote",
      "position": [640, -256],
      "parameters": {
        "color": 7,
        "width": 780,
        "height": 520,
        "content": "## 2. Deduplicate & Store\nChecks if trend already exists in Airtable. Only saves new trends."
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Fetch Google Trends RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Trends RSS": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Extract Trend Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Trend Items": {
      "main": [
        [
          {
            "node": "Has Matches?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Matches?": {
      "main": [
        [
          {
            "node": "Loop Over Trends",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Relevant Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Trends": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Trend Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Trend Exists": {
      "main": [
        [
          {
            "node": "Is New Trend?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Trend?": {
      "main": [
        [
          {
            "node": "Save New Trend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save New Trend": {
      "main": [
        [
          {
            "node": "Loop Over Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
