Trend Reshare System/04-trend-poster.json
{
  "meta": {
    "instanceId": "trend-reshare-trend-poster",
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-896, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [-896, 160],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "config",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "position": [-672, 80],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "airtableBaseId",
              "name": "airtableBaseId",
              "type": "string",
              "value": "YOUR_BASE_ID"
            },
            {
              "id": "maxPostsPerRun",
              "name": "maxPostsPerRun",
              "type": "number",
              "value": 3
            },
            {
              "id": "minHoursBetweenShares",
              "name": "minHoursBetweenShares",
              "type": "number",
              "value": 24
            },
            {
              "id": "youtubeBaseUrl",
              "name": "youtubeBaseUrl",
              "type": "string",
              "value": "https://www.youtube.com/watch?v="
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "get-unprocessed-trends",
      "name": "Get Unprocessed Trends",
      "type": "n8n-nodes-base.airtable",
      "position": [-448, 80],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.airtableBaseId }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "Trends"
        },
        "operation": "search",
        "filterByFormula": "={processed}=FALSE()",
        "sort": {
          "property": [
            {
              "field": "detectedAt",
              "direction": "desc"
            }
          ]
        },
        "limit": "={{ $json.maxPostsPerRun }}"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      },
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "id": "check-has-trends",
      "name": "Has Trends?",
      "type": "n8n-nodes-base.if",
      "position": [-224, 80],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-trends",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      },
      "typeVersion": 2.2
    },
    {
      "id": "loop-trends",
      "name": "Loop Over Trends",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [0, 0],
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "search-videos",
      "name": "Search Matching Videos",
      "type": "n8n-nodes-base.airtable",
      "position": [224, 80],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Configuration').item.json.airtableBaseId }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "Videos"
        },
        "operation": "search",
        "filterByFormula": "=SEARCH(LOWER(\"{{ $json.keyword }}\"), LOWER({searchableText})) > 0",
        "limit": 10
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      },
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "id": "check-video-match",
      "name": "Found Match?",
      "type": "n8n-nodes-base.if",
      "position": [448, 80],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-match",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      },
      "typeVersion": 2.2
    },
    {
      "id": "select-best-video",
      "name": "Select Best Video",
      "type": "n8n-nodes-base.code",
      "position": [672, 0],
      "parameters": {
        "jsCode": "const config = $('Configuration').item.json;\nconst trend = $('Loop Over Trends').item.json;\nconst videos = $input.all();\n\n// Filter videos that haven't been shared recently\nconst minHours = config.minHoursBetweenShares || 24;\nconst cutoffTime = new Date(Date.now() - (minHours * 60 * 60 * 1000));\n\nconst eligibleVideos = videos.filter(v => {\n  if (!v.json.lastSharedAt) return true;\n  const lastShared = new Date(v.json.lastSharedAt);\n  return lastShared < cutoffTime;\n});\n\nif (eligibleVideos.length === 0) {\n  return [{ json: { noEligibleVideo: true, reason: 'All matching videos were shared recently' } }];\n}\n\n// Sort by view count to pick the most popular video\neligibleVideos.sort((a, b) => (b.json.viewCount || 0) - (a.json.viewCount || 0));\n\nconst selectedVideo = eligibleVideos[0].json;\n\nreturn [{\n  json: {\n    video: selectedVideo,\n    trend: trend,\n    videoId: selectedVideo.videoId,\n    videoAirtableId: selectedVideo.id,\n    trendAirtableId: trend.id,\n    videoTitle: selectedVideo.title,\n    videoTags: selectedVideo.tags,\n    trendKeyword: trend.keyword\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "check-eligible",
      "name": "Has Eligible Video?",
      "type": "n8n-nodes-base.if",
      "position": [896, 0],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-eligible",
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              },
              "leftValue": "={{ $json.noEligibleVideo }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      },
      "typeVersion": 2.2
    },
    {
      "id": "generate-post",
      "name": "Generate X Post",
      "type": "n8n-nodes-base.code",
      "position": [1120, -64],
      "parameters": {
        "jsCode": "const config = $('Configuration').item.json;\nconst data = $input.item.json;\n\nconst videoTitle = data.videoTitle;\nconst videoId = data.videoId;\nconst trendKeyword = data.trendKeyword;\nconst videoTags = data.videoTags || '';\n\n// Build YouTube URL\nconst youtubeUrl = `${config.youtubeBaseUrl}${videoId}`;\n\n// Create hashtags from trend keyword and video tags\nconst trendHashtag = '#' + trendKeyword.replace(/[^a-zA-Z0-9]/g, '');\n\n// Extract up to 2 relevant tags from video\nlet tagHashtags = '';\nif (videoTags) {\n  const tags = videoTags.split(',').map(t => t.trim()).filter(t => t.length > 0 && t.length < 20);\n  const selectedTags = tags.slice(0, 2).map(t => '#' + t.replace(/[^a-zA-Z0-9]/g, ''));\n  tagHashtags = selectedTags.join(' ');\n}\n\n// Calculate available characters for summary\n// Format: [Summary] \\n\\n [Hashtags] \\n\\n [URL]\nconst hashtagsLine = [trendHashtag, tagHashtags].filter(Boolean).join(' ');\nconst urlLength = youtubeUrl.length;\nconst separatorsLength = 4; // Two \"\\n\\n\"\nconst hashtagsLength = hashtagsLine.length;\nconst availableForSummary = 280 - urlLength - separatorsLength - hashtagsLength - 3; // -3 for safety\n\n// Create summary from video title\nlet summary = videoTitle;\nif (summary.length > availableForSummary) {\n  summary = summary.substring(0, availableForSummary - 3);\n  // Try to cut at word boundary\n  const lastSpace = summary.lastIndexOf(' ');\n  if (lastSpace > availableForSummary * 0.6) {\n    summary = summary.substring(0, lastSpace);\n  }\n  summary += '...';\n}\n\n// Build final post\nconst postText = `${summary}\\n\\n${hashtagsLine}\\n\\n${youtubeUrl}`;\n\nreturn [{\n  json: {\n    postText: postText,\n    charCount: postText.length,\n    isValid: postText.length <= 280,\n    videoId: videoId,\n    videoAirtableId: data.videoAirtableId,\n    trendAirtableId: data.trendAirtableId,\n    trendKeyword: trendKeyword\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "validate-length",
      "name": "Valid Length?",
      "type": "n8n-nodes-base.if",
      "position": [1344, -64],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-valid",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.isValid }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      },
      "typeVersion": 2.2
    },
    {
      "id": "post-to-x",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "position": [1568, -128],
      "parameters": {
        "text": "={{ $json.postText }}",
        "additionalFields": {}
      },
      "credentials": {
        "twitterOAuth2Api": {
          "id": "YOUR_TWITTER_CREDENTIAL_ID",
          "name": "X account"
        }
      },
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "check-post-success",
      "name": "Post Succeeded?",
      "type": "n8n-nodes-base.if",
      "position": [1792, -128],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-success",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      },
      "typeVersion": 2.2
    },
    {
      "id": "record-post",
      "name": "Record Post in Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [2016, -192],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Configuration').item.json.airtableBaseId }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "Posts"
        },
        "operation": "create",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "postId": "={{ $('Post to X').item.json.id }}",
            "videoId": "={{ $('Generate X Post').item.json.videoAirtableId }}",
            "trendId": "={{ $('Generate X Post').item.json.trendAirtableId }}",
            "postText": "={{ $('Generate X Post').item.json.postText }}",
            "postedAt": "={{ new Date().toISOString() }}",
            "likes": 0,
            "retweets": 0
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "update-video-shared",
      "name": "Update Video Last Shared",
      "type": "n8n-nodes-base.airtable",
      "position": [2240, -192],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Configuration').item.json.airtableBaseId }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "Videos"
        },
        "operation": "update",
        "id": "={{ $('Generate X Post').item.json.videoAirtableId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lastSharedAt": "={{ new Date().toISOString() }}",
            "shareCount": "={{ ($('Select Best Video').item.json.video.shareCount || 0) + 1 }}"
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "mark-trend-processed",
      "name": "Mark Trend Processed",
      "type": "n8n-nodes-base.airtable",
      "position": [2464, -192],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Configuration').item.json.airtableBaseId }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "Trends"
        },
        "operation": "update",
        "id": "={{ $('Generate X Post').item.json.trendAirtableId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": true,
            "matchedVideoId": "={{ $('Generate X Post').item.json.videoAirtableId }}"
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "mark-trend-no-match",
      "name": "Mark Trend No Match",
      "type": "n8n-nodes-base.airtable",
      "position": [672, 256],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Configuration').item.json.airtableBaseId }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "Trends"
        },
        "operation": "update",
        "id": "={{ $('Loop Over Trends').item.json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": true
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "log-post-error",
      "name": "Log Post Error",
      "type": "n8n-nodes-base.set",
      "position": [2016, -64],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "type": "string",
              "value": "=Failed to post to X for trend: {{ $('Generate X Post').item.json.trendKeyword }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "position": [0, -192],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "Trend posting completed"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "no-trends",
      "name": "No Unprocessed Trends",
      "type": "n8n-nodes-base.set",
      "position": [0, 192],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "No unprocessed trends to post"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "sticky-instructions",
      "name": "Sticky Note - Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1184, -256],
      "parameters": {
        "width": 560,
        "height": 560,
        "content": "## Trend Poster\n\nMatches detected trends to YouTube videos and posts to X.\n\n### Configuration\n\n- **maxPostsPerRun**: Maximum posts per execution (default: 3)\n- **minHoursBetweenShares**: Cooldown before resharing same video (default: 24)\n\n### Post Format\n\n```\n[Video title/summary - up to ~150 chars]\n\n#TrendHashtag #VideoTag1 #VideoTag2\n\nhttps://youtube.com/watch?v=xxx\n```\n\n### X Credentials\n\n1. Apply for Twitter Developer access\n2. Create OAuth 2.0 app with read/write permissions\n3. Add credentials to n8n\n\n### Flow\n\n1. Gets unprocessed trends from Airtable\n2. Searches videos for keyword matches\n3. Selects best video (highest views, not recently shared)\n4. Generates 280-char compliant post\n5. Posts to X\n6. Records in Posts table\n7. Updates video lastSharedAt\n8. Marks trend as processed"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-fetch",
      "name": "Sticky Note - Fetch",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-480, -80],
      "parameters": {
        "color": 6,
        "width": 480,
        "height": 400,
        "content": "## 1. Fetch Trends\nGets unprocessed trends from Airtable, limited by maxPostsPerRun."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-match",
      "name": "Sticky Note - Match",
      "type": "n8n-nodes-base.stickyNote",
      "position": [192, -144],
      "parameters": {
        "color": 7,
        "width": 780,
        "height": 500,
        "content": "## 2. Match Videos\nSearches for videos matching trend keyword. Selects best video based on view count and share cooldown."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-post",
      "name": "Sticky Note - Post",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1088, -320],
      "parameters": {
        "color": 3,
        "width": 1460,
        "height": 440,
        "content": "## 3. Generate & Post\nCreates X post within 280 chars, posts to X, and records results in Airtable."
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Get Unprocessed Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Trends": {
      "main": [
        [
          {
            "node": "Has Trends?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Trends?": {
      "main": [
        [
          {
            "node": "Loop Over Trends",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Unprocessed Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Trends": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Matching Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Matching Videos": {
      "main": [
        [
          {
            "node": "Found Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found Match?": {
      "main": [
        [
          {
            "node": "Select Best Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Trend No Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Video": {
      "main": [
        [
          {
            "node": "Has Eligible Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Eligible Video?": {
      "main": [
        [
          {
            "node": "Generate X Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Trend No Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate X Post": {
      "main": [
        [
          {
            "node": "Valid Length?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Length?": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Trend No Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X": {
      "main": [
        [
          {
            "node": "Post Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Succeeded?": {
      "main": [
        [
          {
            "node": "Record Post in Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Post Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Post in Airtable": {
      "main": [
        [
          {
            "node": "Update Video Last Shared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Last Shared": {
      "main": [
        [
          {
            "node": "Mark Trend Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Trend Processed": {
      "main": [
        [
          {
            "node": "Loop Over Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Trend No Match": {
      "main": [
        [
          {
            "node": "Loop Over Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Post Error": {
      "main": [
        [
          {
            "node": "Mark Trend No Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
